@using NB_Commerce.Model.Models
@model NB_Commerce.Model.Models.Album
@{
    List<AlbumPictureMapping> items = Model.AlbumPictureMappings.OrderBy(e => e.DisplayOrder).ToList();
    int len = items.Count();
}
@for (int i = 0; i <= items.Count - 1; i++)
{
    <div class='item'>
        <div class='box-images'>
            <a href="@items[i].Link" target="_blank">
                <img alt="@items[i].Picture.Title" src="@Utils.GetImage(items[i].Picture.Url@*, 217, 127, 60L*@)" />
            </a>
        </div>
    </div>
}
@*@for (int i = 0; i <= items.Count - 1; i++)
    {
        if (i % 2 == 0)
        {
            @Html.Raw("<div class='item'><div class='box-images'>")
        }
        <a href="@items[i].Link" target="_blank">
            <img alt="@items[i].Picture.Title" src="@Utils.GetImage(items[i].Picture.Url, 217, 127, 60L)" />
        </a>
        if (i % 2 == 1 || (len - 1 == i))
        {
            @Html.Raw("</div></div>")
        }
    }*@