@using NB_Commerce.Helpers
@using NB_Commerce.Repositories

<!DOCTYPE html>
<html lang="@SessionManager.UniqueSeoCode">
<head>
    <title>@ViewBag.Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    @{
        var gt = AppConfigs.Get("GoogleWebmasterToolCode");
        if (gt != null)
        {
            @Html.Raw(gt)
        }
    }
    <meta name="viewport" content="width=device-width,  maximum-scale=1.0, user-scalable=yes" />
    <meta name="keywords" content="@ViewBag.MetaKeywords" />
    <meta name="description" content="@ViewBag.MetaDescription" />
    <link href="@AppConfigs.Get("Favicon")" rel="shortcut icon" type="image/x-icon" />
    <link rel="canonical" href="@HttpContext.Current.Request.Url.AbsolutePath" />
    @{
        foreach (var ura in SessionManager.Alternate)
        {
            @Html.Raw("<link rel='alternate' type='text/html' hreflang='" + ura.Hreflang + "' href='" + ura.Href + "' title='" + ura.Title + "' />")
        }
    }
    @if (!string.IsNullOrEmpty(ViewBag.og_type))
    {
        <meta property="og:type" content="@ViewBag.og_type" />
        <meta property="og:url" content="@ViewData["og:url"]" />
        <meta property="og:image" itemprop="thumbnailUrl" content="@ViewData["og:image"]" />
        <meta property="og:title" itemprop="headline" content="@ViewData["og:title"]" />
        <meta property="og:description" content="@ViewData["og:description"]" />
        <meta property="article:publisher" content="@ViewData["article:publisher"]" />
        <meta property="article:published_time" itemprop="datePublished" content="@ViewData["article:published_time"]" />
    }
    <!-- start: MAIN CSS -->
    @Styles.RenderFormat(BundlesFormats.ALL, "~/bundles/css/core")
    @Styles.RenderFormat(BundlesFormats.ALL, "~/bundles/content/plugins/webslidemenu/css")
    @Styles.RenderFormat(BundlesFormats.ALL, "~/bundles/css/shared")
    @Styles.RenderFormat(BundlesFormats.ALL, "~/bundles/content/plugins/font-awesome/css")
    @*@Styles.RenderFormat(BundlesFormats.ALL, "~/Skins/" + SessionManager.StoreId + "/css")*@
</head>
<body>
    <div class="wsmenucontainer clearfix">
        <div class="wsmenucontent overlapblackbg"></div>
        <div class="wsmenuexpandermain slideRight">
            <a id="navToggle" class="animated-arrow slideLeft "><span></span></a>
            <a href="/" class="smallogo"><img src="~/Images/Shared/1/logo-mobile.png" width="120" alt="" /></a>
            <a class="callusicon" href="tel:123456789"><span class="fa fa-phone"></span></a>
        </div>
        @Html.Raw(ViewBag.Notify)
        @{
            if (GlobalVariables.Mode == "preview" || GlobalVariables.Mode == "debug")
            {
                <p class="run-mode">
                    Mode:: @GlobalVariables.Mode <a href="http://seositecheckup.com/checkup/result/d2959fa4299bbe400ad685292521632a?url=@((AppConfigs.LinksFrontEnd + "/" + HttpContext.Current.Request.Url.AbsolutePath).Replace("///", "/"))" target="_blank">Checkup</a> | <a href="@(HttpContext.Current.Request.Url.AbsolutePath + "?mode=public&token=000-000-000~0")"> exit</a>
                </p>
            }
        }
        <!-- start: HEADER -->
        <header>
            <!--start: header-top-->
            <div class="header-top">
                <div class="container">
                    @Html.Action("Caller", "StaticBlock", new { identifier = "header-bar", area = "" })
                </div>
            </div>
            <!--end: header-top-->
            <!--start: header-logo-->
            <div class="header-logo">
                <div class="container">
                    <div class="m-logo">
                        <a href="/">
                            <img alt="@AppConfigs.Get("StoreName")" src="@AppConfigs.Get("Logo")" />
                        </a>
                    </div>
                </div>
            </div>
            <!--end: header-logo-->
            <!--Main Menu HTML Code-->
            <div class="menu-wrapper">
                <div class="container">
                    @*MAIN MENU*@ 
                   @Html.Action("Menu", "Widgets", new { identifier = "menu-main", area = "" })
                </div>
            </div>
            <!--Menu HTML Code-->
        </header>
        <!-- end: HEADER -->
        <!-- start: MAIN CONTAINER -->
        <section class="main-page">
            @RenderBody()
        </section>
        <!-- end: MAIN CONTAINER -->
        <!-- start: FOOTER -->
        <footer>
            <!-- start: service-links-wrap -->
            <div class="service-links-wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-xms-12 col-xs-6 col-sm-3">
                            <h2>
                                <a href="#">Bưu chính chuyển phát</a>
                            </h2>
                            <ul>
                                <li><a href="#">Bưu phẩm không địa chỉ (BP KĐC)</a></li>
                                <li><a href="#">Bưu phẩm bảo đảm (BP BĐ)</a></li>
                                <li><a href="#">Bưu phẩm thường</a></li>
                                <li><a href="#">Chuyển phát CMTND</a></li>
                                <li><a href="#">Chuyển phát nhanh EMS</a></li>
                            </ul>
                        </div>
                        
                        <div class="col-xms-12 col-xs-6 col-sm-3">
                            <h2>
                                <a href="#">Phân phối truyền thông</a>
                            </h2>
                            <ul>
                                <li><a href="#">Truyền thông</a></li>
                                <li><a href="#">Thẻ trường trực tuyến</a></li>
                                <li><a href="#">Thẻ di động trả trước</a></li>
                                <li><a href="#">Thẻ học ngoại ngữ Online</a></li>
                                <li><a href="#">Bộ hòa mạng ALO của Vinaphone</a></li>
                            </ul>
                        </div>
                        <div class="col-xms-12 col-xs-6 col-sm-3">
                            <h2>
                                <a href="#">Dịch vụ khác</a>
                            </h2>
                            <ul>
                                <li><a href="#">AVG - Truyền hình An Viên</a></li>
                                <li><a href="#">Chuyển phát hồ sơ</a></li>
                                <li><a href="#">Cho thuê xe du lịch, hội trường</a></li>
                                <li><a href="#">Đào tạo tin học</a></li>
                                <li><a href="#">Thiết kế website</a></li>
                            </ul>
                        </div>
                        <div class="col-xms-12 col-xs-6 col-sm-3">
                            <h2>
                                <a href="#">Tài chính bưu chính</a>
                            </h2>
                            <ul>
                                <li><a href="#">Dịch vụ Chuyển tiền nhanh Bưu điện</a></li>
                                <li><a href="#">Đại lý Bảo hiểm</a></li>
                                <li><a href="#">Phân phối bán lẻ</a></li>
                                <li><a href="#">Chuyển tiền Bưu điện</a></li>
                                <li><a href="#">Thu hộ, chi hộ</a></li>
                            </ul>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
            <!-- end: service-links-wrap -->
            <div class="footer-address">
                <div class="container">
                    @Html.Action("Caller", "StaticBlock", new { identifier = "footer-address", area = "" })
                </div>
            </div>
        </footer>
        <!-- end: FOOTER -->
        
        @RenderSection("styles", required: false)
        <!-- start: MAIN JAVASCRIPTS -->
        @Scripts.Render("~/bundles/js/core")
        @Scripts.Render("~/bundles/js/shared")
        @Scripts.Render("~/bundles/content/plugins/back-to-top/js")
        @Scripts.Render("~/bundles/content/plugins/webslidemenu/js")

        <script src="~/Content/shared/js/2-main/all.js"></script>
        @Scripts.Render("~/Skins/" + SessionManager.StoreId + "/js")
        

        @*@Scripts.Render("~/bundles/content/plugins/alert/js")*@
        @RenderSection("scriptsdefault", required: false)
        @RenderSection("scripts", required: false)
        @Html.PageScripts()
        @{
            string ga = AppConfigs.Get("GoogleAnalyticCode");
            if (ga != null)
            {
                @Html.Raw(ga)
            }

            string zm = AppConfigs.Get("ShowZopim");
            if (zm == "True")
            {
                @Html.Raw(AppConfigs.Get("ZopimCode"))
            }
        }
        @if (GlobalVariables.Mode == "debug")
        {
            <link href="~/content/plugins/page-guide/css/pageguide.min.css" rel="stylesheet" />
            <script src="~/content/plugins/page-guide/js/pageguide.min.js"> </script>
            <script>
                $(document).ready(function () { tl.pg.init(); });
            </script>
            @Html.Action("PageGuide", "Widgets", new { area = "" })
        }

        @Html.Action("Caller", "StaticBlock", new { identifier = "back-to-top", area = "" })
    </div>
    @* end: wsmenucontainer*@
</body>

</html>
@*Thư viện ảnh*@
@*@Html.Action("GallerySelectivity", "AdvancedBlog", new { grouped = "home-gallery", take = 9, pathView = "~/Views/Home/Advanced/Blog/HomeGallery" })*@

@*<div class="dropdown direction-web">
    <p>Liên kết website: </p>
    @Html.Action("Caller", "StaticBlock", new { identifier = "external-link-website", area = "" })
</div>*@
@*@Html.Action("Caller", "StaticBlock", new { identifier = "service-highlight", area = "" })*@
@*@Html.Action("Menu", "Widgets", new { identifier = "menu-footer", pathView = "Menu/Sub", area = "" })
@Html.Action("Caller", "StaticBlock", new { identifier = "footer-social", area = "" })*@

@*@Html.Action("Menu", "Widgets", new { identifier = "menu-compact", pathView = "Menu/Compact", area = "" })*@