@using PagedList.Mvc
@using Resources
@model PagedList.IPagedList<SearchModel>
@{
    ViewBag.Title = @Resource.Search_Results_Text + "::" + ViewBag.key;
}

<!-- start: BANNER-TOP -->
	@*@Html.Action("Caller", "StaticBlock", new {identifier = "banner-top-page", area = ""})*@
<!-- end: BANNER-TOP -->
<!-- start: layout-page-wrap -->
<div class="layout-page-wrap ">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-push-3">
                <!-- start: content-page-layout-->
                <div class="content-page-layout">
                    <!--start: box-breadcrumb-->
                    @Html.Action("Breadcrumb", "Widgets", new { breadcrumbs = new List<BreadcrumbModel> { new BreadcrumbModel { Link = "#", Title = (@Resource.Search_Results_Text) } }, homeIncluded = true, area = "" })
                    <!--end: box-breadcrumb-->
                    <!-- start: category-news-wrap main-list-items-->
                    <div class="category-news-wrap main-list-items">
                        <!-- start: block-content -->
                        <div class="box-content">
                            <div class="items-inner">
                                <div class="box-images">
                                    <h3>
                                        <a href="#"><img src="img/page/img-1-160x117.jpg" alt="show alt" /></a>
                                    </h3>
                                    <div class="more-status">
                                        <span><i class="fa fa-eye"></i>300</span>
                                        <span><i class="fa fa-comment-o"></i>3</span>
                                    </div>
                                </div>
                                <!-- start: box-info-->
                                <div class="box-info">
                                    <div class="title-category">
                                        <h2><a href="#">Tin hoạt động</a></h2>
                                        <time class="time">15 / 08 / 2015</time>
                                    </div>
                                    <h3 class="title">
                                        <a href="#">Chương trình gửi nhiều trúng lớn với dịch vụ chuyển phát nhanh EMS và bưu kiện</a>
                                    </h3>
                                    <p class="description">Ngày 15 / 09 / 2015, Bưu điện Tỉnh Bắc Kan tổ chức quay số chương trình khuyến mại “Gửi nhiều trúng lớn với dịch vụ chuyển phát nhanh EMS và Bưu kiện” diễn ra từ ngày nhiều trúng lớn với dịch vụ chuyển phát nhanh EMS và Bưu kiện” diễn ra từ ngày nhiều trúng lớn với dịch vụ chuyển phát nhanh EMS và Bưu kiện” diễn ra từ ngày</p>
                                </div>
                                <!-- end: box-info-->
                            </div>
                        </div>
                        <!-- end: block-content -->
                    </div>
                    <!-- end: category-news-wrap main-list-items-->
                </div>
                <!-- end: content-page-layout-->
            </div>
            <div class="col-xs-12 col-sm-3 col-sm-pull-6">
                <!-- start: left-page-layout-->
                <div class="left-page-layout">
                    <!-- start: menu-sidebar-->
                    <div class="menu-sidebar">
                        <div class="head-box-title">
                            <h3>Tin tức và sự kiện</h3>
                        </div>
                        <!-- start: list-links -->
                        <div class="box-content list-links">
                            <ul>
                                <li>
                                    <h3>
                                        <a href="#">Tin hoạt động SXKD</a>
                                    </h3>
                                </li>
                                <li>
                                    <h3>
                                        <a href="#">Hoạt động cộng đồng</a>
                                    </h3>
                                </li>
                                <li>
                                    <h3>
                                        <a href="#">Chương trình khuyến mại</a>
                                    </h3>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <!-- end: menu-sidebar-->
                    <div class="hotline">
                        <a href="#"><img src="img/page/hotline-1.jpg" alt="Alternate Text" /></a>
                    </div>
                    <div class="banner-adv">
                        <a href="#"><img src="img/page/adv-news.jpg" alt="Alternate Text" /></a>
                        <a href="#"><img src="img/page/adv-saving.jpg" alt="Alternate Text" /></a>
                        <a href="#"><img src="img/page/adv-ems.jpg" alt="Alternate Text" /></a>
                    </div>
                    <div class="hotline">
                        <a href="#"><img src="img/page/hotline-1.jpg" alt="Alternate Text" /></a>
                    </div>
                </div>
                <!-- end: left-page-layout-->
            </div>
            <div class="col-xs-12 col-sm-3">
                <!-- start: right-page-layout-->
                <div class="right-page-layout">
                    <!-- start: inner-box-sidebar most view-->
                    <div class="inner-box-sidebar">
                        <div class="head-box-title">
                            <h3>Xem nhiều nhất</h3>
                        </div>
                        <!-- start: list-item -->
                        <div class="list-items">
                            <!-- start: item -->
                            <div class="item">
                                <div class="box-images">
                                    <h3>
                                        <a href="#"><img src="img/page/news-2-80x60.jpg" alt="show alt" /></a>
                                    </h3>
                                </div>
                                <!-- start: box-info-->
                                <div class="box-info">
                                    <h2 class="title">
                                        <a href="#">Lễ quay số trúng thưởng, Chương trình : “Gửi nhiều trúng lớn dịch vụ chuyển ...”</a>
                                    </h2>
                                    <time class="time">08-08-2015</time>
                                    <div class="view-icon"><i class="fa fa-eye"></i>320</div>
                                </div>
                                <!-- end: box-info-->
                            </div>
                            <!-- end: item -->
                        </div>
                        <!-- end: list-item -->
                    </div>
                    <!-- end: inner-box-sidebar most view-->
                    <!-- start: inner-box-sidebar most view-->
                    <div class="inner-box-sidebar">
                        <div class="head-box-title">
                            <h3>Chủ đề phổ biến</h3>
                        </div>
                        <!-- start: list-tags -->
                        <div class="list-tags">
                            <ul>
                                <li><a href="#">Bưu chính</a></li>
                                <li><a href="#">Chuyển phát</a></li>
                                <li><a href="#">Data post</a></li>
                                <li><a href="#">EMS</a></li>
                                <li><a href="#">Bảo hiểm</a></li>
                                <li><a href="#">Báo trí</a></li>

                                <li><a href="#">Truyền thông</a></li>
                                <li><a href="#">Phát hành báo trí</a></li>
                                <li><a href="#">Bưu kiện</a></li>
                                <li><a href="#">BP thường</a></li>
                                <li><a href="#">Gửi tiết kiệm</a></li>

                            </ul>
                        </div>
                        <!-- end: list-item -->
                    </div>
                    <!-- end: inner-box-sidebar most view-->
                    <!-- start: inner-box-sidebar.style-line lastest news-->
                    <div class="inner-box-sidebar style-line">
                        <div class="head-box-title">
                            <h3>Bài viêt mới nhất</h3>
                        </div>
                        @Html.Action("LatestPosts", "Widgets", new { blogCategoryId = -1, take = 5, area = "" })
                    </div>
                    <!-- end: inner-box-sidebar.style-line lastest news-->
                </div>
                <!-- end: right-page-layout-->
            </div>
        </div>
    </div>
    <!-- end: layout-page-wrap -->
</div>
<!-- end: layout-page-wrap -->
<section class="wrapper">
    <div class="container">
         
        <div class="row search-wrapper">
            <div class="col-sm-8">
                <!-- start: SEARCH RESULT -->
                <div class="search-classic page-content-left">
                    @Html.Action("Box", "Search", new {area = "", viewPath = "search/boxindex", ViewBag.scope, ViewBag.key})
                   
                    @if (Model.Count == 0)
                    {
                        <div style="padding: 10px; text-align: center;">
                            <b> <i class="clip-search-2"></i> @Resource.Search_Results_Not_Found </b>
                        </div>
                    }
                    else
                    {
                        <hr/>
                        <div class="result-search">
                           <h3 class="search-result-title">@Resource.Search_Results_Text <b>@Model.Count/@Model.TotalItemCount</b> @Resource.Item_For_Keyword_Text <b>'@ViewBag.key'</b> </h3>
                        </div>
                        foreach (SearchModel item in Model)
                        {
                            <div class="search-result">
                                
                                <h4> <b>@item.Types</b>:
                                    <a href="@item.Link" title="@item.Title">
                                        @item.Title
                                    </a></h4>
                                <span class="publish-time"><i class="fa fa-calendar"></i> <time class="time-ago" datetime="@item.LastUpdated"></time> </span>
                                <div class="row">
                                    <div class="col-xs-2">
                                        <img src="@Utils.GetImage(item.Avatar,50)" alt="@item.Title" height="50"/>
                                    </div>
                                    <div class="description col-xs-10">
                                        <p class="except-3">
                                            @Html.Raw(item.Description ?? "No description")
                                        </p>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="paging">
                            @Html.PagedListPager(Model, page => Url.Action("Index", "Search", new {key = ViewBag.key, sortorder = ViewBag.sortOrder, ViewBag.scope, pagesize = ViewBag.pageSize, page}))
                        </div>
                    }
                </div>
                <!-- end: SEARCH RESULT -->
            </div>
            <div class="col-sm-4 page-content-right">
                @Html.Action("Caller", "StaticBlock", new { identifier = "banner-right-page", area = "" })
                <!-- start: side-box-wrapper box-service-us -->
                <div class="side-box-wrapper box-service-us">
                    <div class="box-title">
                        <h3>Dịch vụ của chúng tôi</h3>
                    </div>
                    @Html.Action("Home", "AdvancedCatalog", new {type="airport-advertising,design-web,marketing-online,media-sponsor", get="category", pathView="CategoryFocus" })
                </div>
                <!-- end: side-box-wrapper box-service-us -->
                
                <!-- start: side-box-wrapper -->
                <div class="side-box-wrapper">
                    <div class="box-title">
                        <h3>Bài viết mới nhất</h3>
                    </div>
                    @Html.Action("LatestPosts", "Widgets", new {blogCategoryId = -1, take = 3, area = ""})
                </div>
                <!-- end: side-box-wrapper -->
            </div>
        </div>
    </div>
</section>
    
@section styles {
   @Styles.Render("~/bundles/content/default/page/css","~/bundles/content/default/search/css")
}

@section scripts {
    <script src="~/scripts/jquery.timeago.js"> </script>
    <script>
        $(".time-ago").timeago();
        $(".menu-search").addClass("active");
    </script>
    @if (Model.Count > 5)
    {
        <script>
            new Services("search/update-search-terms", { keyword: '@ViewBag.key' }, function() {
            }, 'no-api').post();
        </script>
    }
}