@model NB_Commerce.Models.RegisterModel
@using (Ajax.BeginForm("CheckOutGuest", "Account", new AjaxOptions
                                                         {
                                                             HttpMethod = "POST",
                                                             UpdateTargetId = "check-out-as-guest-container",
                                                             LoadingElementId = "check-out-as-guest-loader",
                                                             OnSuccess = "PagedOnComplete_Login"
                                                         }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <input type="hidden" id="Day" name="Day" value="01" />
    <input type="hidden" id="Month" name="Month" value="01" />
    <input type="hidden" id="Year" name="Year" value="0001" />

    <div class="form-group">
         @Html.LabelFor(model => model.Email, new {@class="control-label required" })
        <div class="col-sm-8">
            @Html.TextBoxFor(model => model.Email, null, new { placeholder = "emailcuaban@xyz.com", type="email" })
            @Html.ValidationMessageFor(model => model.Email)
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10">
            <button type="submit" class="btn next">
                <span id="check-out-as-guest-loader" style="display: none; font-weight: bold">
                    Wait...
                </span>
                Tiếp tục
            </button>
        </div>
    </div>
}