@model NB_Commerce.Models.LoginModel
@{
    Html.EnableClientValidation();
}
@using (Ajax.BeginForm("Login", "Account", new AjaxOptions
                                                 {
                                                     HttpMethod = "POST",
                                                     UpdateTargetId = "login-container-content",
                                                     LoadingElementId = "login-loader",
                                                     OnBegin = "PagedOnBegin_Login",
                                                     OnSuccess = "PagedOnComplete_Login"
                                                     
                                                 }))
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()

    <div class="login-directly">

        <div class="form">
            <label for="UserName">Tên đăng nhập Or Email:</label>
            <input type="text" class="form-control" name="UserName" id="UserName" value="@Model.UserName" autocomplete="off" placeholder="Tên đăng nhập hoặc email">
        </div>
        <div class="form">
            <label for="Password">Mật khẩu:</label>
            <input type="password" class="form-control" name="Password" id="Password" value="@Model.Password" placeholder="Mật khẩu">
        </div>
        <div class="login-remember-pass">
          
            <input type="checkbox" value="@Model.RememberMe" id="RememberMe" name="remember-password">
            <label for="RememberMe" class="text">Nhớ mật khẩu</label>
        </div>
        <div class="login-submit">
            <button type="submit" class="form-button">
                <span id="login-loader" style="display: none; font-weight: bold">
                    Wait...
                </span>
                    Đăng nhập
            </button>
        </div>
        <div class="login-forget-pass">
            @Html.ActionLink("Quên mật khẩu?", "ForgotPass", "Account", null, new { @class = "text-link" })
        </div>
    </div>

    <div class="login-other">
        <div class="text">Hoặc đăng nhập qua:</div>
        @Html.ActionLink("Login with Facebook", "Facebook", null, htmlAttributes: new { @class = "facebook" })
        @*@Html.ActionLink("Login with Facebook", "Google", null, htmlAttributes: new { @class = "google" })*@
        <span class="clear"></span>
    </div>
}