@{
    BlogCategory blogCategory = ViewBag.blogCategory as BlogCategory ?? new BlogCategory();
    ViewBag.Title = blogCategory.MetaTitle ?? blogCategory.Name;
    ViewBag.MetaKeywords = blogCategory.MetaKeywords;
    ViewBag.MetaDescription = blogCategory.MetaDescription;

    var blogPostFeatured = blogCategory.BlogPostCategoryMappings.Where(e => e.IsFeaturedPost && e.BlogPost.Status == BlogPostStatus.Published).OrderByDescending(e => e.DisplayOrder).Take(6);

}
@using NB_Commerce.Model.Models
@using PagedList.Mvc
@model PagedList.IPagedList<NB_Commerce.Model.Models.BlogPostCategoryMapping>

    @*@Html.Action("Caller", "StaticBlock", new { identifier = "banner-top-page", area = "" })*@
    @*<div class="category-news">
            <div class="container">
                <div class="row">
                    <!-- start: PAGE CONTENT LEFT -->
                    <div class="col-sm-8 page-content-left">
                        @if (blogCategory.ChildCategories.Where(e => e.IsActive).Count() == 0)
                    {
                    @Styles.Render("~/bundles/content/default/page-detail/css")
                    @Styles.Render("~/bundles/content/default/page/css")

                        <!-- start: search-tag-news-contents -->
                    <div class="search-tag-news-contents">
                        <div class="result-search">
                            <p>Có <b>@Model.TotalItemCount</b> tin bài xuất hiện trong danh mục này!</p>
                        </div>

                        <ul class="wrapper-list-items">
                            @foreach (BlogPostCategoryMapping item in Model.Where(e => e.BlogPost.PublishedTime <= DateTime.Now))
                                {
                                    <!-- start: items -->
                                <li class="items">
                                    <figure class="box-images">
                                        <a href="@Utils.GetUrlBlogPost(item.BlogPostId)"><img src="@Utils.GetImage(item.BlogPost.Avatar, 270, 203)" alt="@item.BlogPost.Title"></a>
                                        <!-- start: MORE -->
                                        <div class="more">
                                            <a href="@Utils.GetUrlBlogPost(item.BlogPostId)" title="@item.BlogPost.Title"><i class="fa fa-paper-plane"></i></a>
                                        </div>
                                        <!-- end: MORE -->
                                        @Html.Partial("~/Views/Blog/Partial/" + @item.BlogPost.Types + ".cshtml")
                                    </figure>
                                    <!-- start: content-info -->
                                    <div class="content-info">
                                        <div class="category-title">
                                            <h2>
                                                @{ var itemsBlogcategory = item.BlogPost.BlogPostCategoryMappings.Where(e => e.DisplayOrder > -1).OrderByDescending(e => e.DisplayOrder).Take(3).ToList(); }
                                                @foreach (BlogPostCategoryMapping itemCategory in itemsBlogcategory)
                                                    {
                                                    <a href="@Utils.GetUrlBlogCategory(itemCategory.BlogCategoryId)">@itemCategory.BlogCategory.Name @(itemCategory == itemsBlogcategory.Last() ? "" : ", ")</a>
                                                    }
                                            </h2>
                                        </div>
                                        <h2 class="title"><a href="@Utils.GetUrlBlogPost(item.BlogPostId)">@item.BlogPost.Title</a></h2>
                                        <div class="description">
                                            @Html.Raw(item.BlogPost.Excerpt)
                                            <div class="icon-comment">@item.BlogPost.BlogComments.Count</div>
                                        </div>
                                        @{ var itemsRelated = Utils.GetPostByIds(item.BlogPost.RelatedPost, 2);}
                                        @if (itemsRelated.Count > 0)
                                            {
                                            <ul class="list-news-relate">
                                                @foreach (BlogPost itemrelated in itemsRelated)
                                                    {
                                                    <li>
                                                        <h2>
                                                            <a title="@itemrelated.Title" href="@Utils.GetUrlBlogPost(itemrelated.Id)">
                                                                @itemrelated.Title
                                                            </a>
                                                        </h2>
                                                    </li>
                                                    }
                                            </ul>
                                            }
                                        <time class="time-ago" datetime="@item.BlogPost.PublishedTime"></time>

                                    </div>
                                    <!-- end: content-info -->
                                </li>
                                    <!-- end: items -->
                                }

                        </ul>
                    </div>

                        <!-- end: search-tag-news-contents -->
                    <section class="paging" style="float: right">
                        @Html.PagedListPager(Model, page => Url.Action("Page", "Home", new { sortorder = ViewBag.sortOrder, page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
                    </section>
                    }
                    else
                    {
                    <div class="row">
                        @foreach (BlogCategory item in blogCategory.ChildCategories.Where(e => e.IsActive && e.DisplayOrder > -1))
                            {
                            <div class="col-md-6">
                                <!-- start: cattabs-news-box -->
                                <article class="box-widgets-wrapper cattabs-news-box">
                                    <div class="box-title">
                                        <h3><a href="@Utils.GetUrlBlogCategory(item.Id)">@item.Name</a></h3>
                                    </div>
                                    @{
                                            if (item.BlogPostCategoryMappings.Any())
                                            {
                                                BlogPostCategoryMapping itemFeatured = (item.BlogPostCategoryMappings.FirstOrDefault(e => e.IsFeaturedPost && e.BlogPost.Status == BlogPostStatus.Published) ?? item.BlogPostCategoryMappings.First());
                                                if (itemFeatured.BlogPost.Status != BlogPostStatus.Published)
                                                {
                                                    itemFeatured = new BlogPostCategoryMapping { BlogPost = new BlogPost { } };
                                                }

                                                <!--start: news-hight-light-->
                                        <div class="news-hight-light">
                                            <figure class="box-images">
                                                <a href="@Utils.GetUrlBlogPost(itemFeatured.BlogPost.Id)"><img src="@Utils.GetImage(itemFeatured.BlogPost.Avatar, 336, 252)" alt="@itemFeatured.BlogPost.Title"></a>
                                                <!-- start: MORE -->
                                                <div class="more">
                                                    <a href="@Utils.GetUrlBlogPost(itemFeatured.BlogPost.Id)" title="@itemFeatured.BlogPost.Title"><i class="fa fa-paper-plane"></i></a>
                                                </div>
                                                <!-- end: MORE -->
                                                @Html.Partial("~/Views/Blog/Partial/" + @itemFeatured.BlogPost.Types + ".cshtml")
                                            </figure>
                                            <div class="news-info">
                                                <h2 class="title">
                                                    <a href="@Utils.GetUrlBlogPost(itemFeatured.BlogPost.Id)">@itemFeatured.BlogPost.Title</a>
                                                </h2>
                                                <p class="description except-2">
                                                    @Html.Raw(itemFeatured.BlogPost.Excerpt)
                                                </p>
                                            </div>
                                        </div>
                                                <!--end: news-hight-light-->

                                                <!--start: news-sub-content-->
                                        <ul class="news-sub-content">
                                            @foreach (BlogPostCategoryMapping innerItem in item.BlogPostCategoryMappings.Where(e => e.Id != itemFeatured.Id && e.BlogPost.Status == BlogPostStatus.Published).OrderByDescending(e => e.DisplayOrder).Take(2))
                                                    {
                                                    <li class="items">
                                                        <figure class="box-images">
                                                            <a href="@Utils.GetUrlBlogPost(innerItem.BlogPostId)"><img src="@Utils.GetImage(innerItem.BlogPost.Avatar, 155, 116)" alt="@innerItem.BlogPost.Title"></a>
                                                            <!-- start: MORE -->
                                                            <div class="more">
                                                                <a href="@Utils.GetUrlBlogPost(innerItem.Id)" title="Chi tiết dịch vụ"><i class="fa fa-paper-plane"></i></a>
                                                            </div>
                                                            @Html.Partial("~/Views/Blog/Partial/" + @innerItem.BlogPost.Types + ".cshtml")
                                                            <!-- end: MORE -->
                                                        </figure>
                                                        <div class="news-sub-info">
                                                            <h2 class="title"><a href="@Utils.GetUrlBlogPost(innerItem.BlogPostId)">@innerItem.BlogPost.Title</a></h2>
                                                            <p class="description except-1"> @Html.Raw(innerItem.BlogPost.Excerpt)</p>
                                                            <time class="time-ago" datetime="@innerItem.BlogPost.PublishedTime"> </time>
                                                        </div>
                                                    </li>
                                                    }
                                        </ul>
                                                <!--end: news-sub-content-->
                                            }
                                    }
                                </article>
                                <!-- end: cattabs-news-box -->
                            </div>
                            }
                    </div>
                    }
                        <!-- end: class row -->
                        <!-- start: banner-adv-airport -->
                        @Html.Action("Caller", "StaticBlock", new { identifier = "banner-center-page", area = "" })
                        <!-- end: banner-adv-airport -->
                        <!-- start: box-widgets-wrapper -->
                        @if (blogPostFeatured.Any())
                    {
                    <div class="box-widgets-wrapper">
                        <div class="box-title">
                            <h3><a href="#">Tin tức nổi bật</a></h3>
                        </div>
                        <ul id="news-hight-light" class="widgets-container owl-carousel">
                            @foreach (BlogPostCategoryMapping innerItem in blogPostFeatured.ToList())
                                {
                                <li class="items">
                                    <figure class="box-images">
                                        <a href="@Utils.GetUrlBlogPost(innerItem.BlogPostId)"><img src="@Utils.GetImage(innerItem.BlogPost.Avatar, 170, 126)" alt="@innerItem.BlogPost.Title"></a>
                                        <!-- start: MORE -->
                                        <div class="more">
                                            <a href="@Utils.GetUrlBlogPost(innerItem.BlogPostId)" title="@innerItem.BlogPost.Title"><i class="fa fa-paper-plane"></i></a>
                                        </div>
                                        <!-- end: MORE -->
                                        @Html.Partial("~/Views/Blog/Partial/" + @innerItem.BlogPost.Types + ".cshtml")
                                    </figure>
                                    <div class="sub-info">
                                        <h2 class="title"><a href="@Utils.GetUrlBlogPost(innerItem.BlogPostId)">@innerItem.BlogPost.Title</a></h2>
                                    </div>
                                </li>
                                }

                        </ul>
                    </div>
                    }
                        <!-- end: box-widgets-wrapper -->
                    </div>
                    <!-- end: PAGE CONTENT LEFT -->
                    <!-- start: PAGE CONTENT RIGHT -->
                    <div class="col-sm-4 page-content-right">
                        <!-- start: banner-hotline -->
                        @Html.Action("Caller", "StaticBlock", new { identifier = "banner-right-page", area = "" })
                        <!-- end: banner-hotline -->
                        <!-- start: side-box-wrapper box-service-us -->
                        <div class="side-box-wrapper box-service-us">
                            <div class="box-title">
                                <h3>Dịch vụ của chúng tôi</h3>
                            </div>
                            @if (blogCategory.Grouped == "blog")
                        {
                        @Html.Action("Caller", "StaticBlock", new { identifier = "pageright-service-focus", area = "" })
                        }
                        else
                        {
                        @Html.Action("RelatedProduct", "Widgets", new { blogCategoryId = blogCategory.Id, area = "" })
                        }
                        </div>
                        <!-- end: side-box-wrapper box-service-us -->
                        <!-- start: side-box-wrapper -->
                        <div class="side-box-wrapper">
                            <div class="box-title">
                                <h3>Bài viết mới nhất</h3>
                            </div>
                            @Html.Action("LatestPosts", "Widgets", new { blogCategoryId = blogCategory.Id, take = 3, area = "" })
                        </div>
                        <!-- end: side-box-wrapper -->
                        <!-- start: side-box-wrapper -->
                        <div class="side-box-wrapper box-tags">
                            <div class="box-title">
                                <h3>Chủ đề phổ biến</h3>
                            </div>
                            @Html.Action("PopularTags", "Widgets", new { blogCategoryId = blogCategory.Id, area = "" })

                        </div>
                        <!-- end: side-box-wrapper -->
                        <!-- start: side-box-wrapper -->
                        <div class="side-box-wrapper">
                            <div class="box-title">
                                <h3>Xem nhiều nhất</h3>
                            </div>
                            @Html.Action("MostviewedPosts", "Widgets", new { blogCategoryId = blogCategory.Id, take = 3, area = "" })
                        </div>
                        <!-- end: side-box-wrapper -->
                    </div>
                    <!-- end: PAGE CONTENT RIGHT -->
                </div>
            </div>
        </div>*@

    <!-- start: layout-page-wrap-->
    <div class="layout-page-wrap ">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-push-3">
                    <!-- start: content-page-layout-->
                    <div class="content-page-layout">
                        <!--start: box-breadcrumb-->
                        @Html.Action("Breadcrumb", "Widgets", new { breadcrumbs = new List<BreadcrumbModel> { new BreadcrumbModel { Link = "#", Title = blogCategory.Name } }, homeIncluded = true, headingIncluded = true, area = "" })
                        <!--end: box-breadcrumb-->
                        @if (blogCategory.ChildCategories.Where(e => e.IsActive).Count() == 0)
                        {
                            @Styles.Render("~/bundles/content/default/page-detail/css")
                            @Styles.Render("~/bundles/content/default/page/css")
                            <!-- start: category-news-wrap main-list-items-->
                            <div class="category-news-wrap main-list-items">
                                <div class="result-search">
                                    <p>Có <b>@Model.TotalItemCount</b> tin bài xuất hiện trong danh mục này!</p>
                                </div>
                                <!-- start: block-content -->
                                <div class="box-content">
                                    @foreach (BlogPostCategoryMapping item in Model.Where(e => e.BlogPost.PublishedTime <= DateTime.Now))
                                    {
                                        <!-- start: items-inner -->
                                    <div class="items-inner">
                                        <div class="box-images">
                                            <h3>
                                                <a href="@Utils.GetUrlBlogPost(item.BlogPostId)" title="@item.BlogPost.Title"><img src="@Utils.GetImage(item.BlogPost.Avatar, 160, 117)" alt="@item.BlogPost.Title" /></a>
                                            </h3>
                                            <div class="more-status">
                                                <span><i class="fa fa-eye"></i>@item.BlogPost.Viewed</span>
                                                <span><i class="fa fa-comment-o"></i>@item.BlogPost.CommentCount</span>
                                            </div>
                                        </div>
                                        <!-- start: box-info-->
                                        <div class="box-info">
                                            <div class="title-category">
                                                <h2><a href="#">@item.BlogCategory.Name</a></h2>
                                                <time class="time">@item.BlogPost.PublishedTime</time>
                                            </div>
                                            <h3 class="title">
                                                <a href="@Utils.GetUrlBlogPost(item.BlogPostId)" title="@item.BlogPost.Title">@item.BlogPost.Title</a>
                                            </h3>
                                            <p class="description">@item.BlogPost.Excerpt</p>
                                        </div>
                                        <!-- end: box-info-->
                                    </div>
                                        <!-- end: items-inner -->
                                    }
                                </div>
                                <!-- end: block-content -->
                            </div>
                            <!-- end: category-news-wrap main-list-items-->
                            <section class="paging" style="float: right">
                                @Html.PagedListPager(Model, page => Url.Action("Page", "Home", new { sortorder = ViewBag.sortOrder, page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
                            </section>
                        }
                        else
                        {
                            foreach (BlogCategory item in blogCategory.ChildCategories.Where(e => e.IsActive && e.DisplayOrder > -1))
                            {

                                    <!-- start: category-news-wrap -->
                                <div class="category-news-wrap">
                                    <!-- start: block-title -->
                                    <div class="block-title">
                                        <h3 class="heading">
                                            <a href="@Utils.GetUrlBlogCategory(item.Id)">@item.Name</a>
                                        </h3>
                                    </div>
                                    <!-- end: block-title -->
                                    <!-- start: block-content -->
                                    <div class="box-content">
                                        @if (item.BlogPostCategoryMappings.Any())
                                        {
                                            BlogPostCategoryMapping itemFeatured = (item.BlogPostCategoryMappings.FirstOrDefault(e => e.IsFeaturedPost && e.BlogPost.Status == BlogPostStatus.Published) ?? item.BlogPostCategoryMappings.First());
                                            if (itemFeatured.BlogPost.Status != BlogPostStatus.Published)
                                            {
                                                itemFeatured = new BlogPostCategoryMapping { BlogPost = new BlogPost { } };
                                            }
                                                <!-- start: hight-light -->
                                            <div class="hight-light">
                                                <h3 class="title">
                                                    <a href="@Utils.GetUrlBlogPost(itemFeatured.BlogPost.Id)" title="@itemFeatured.BlogPost.Title">@itemFeatured.BlogPost.Title</a>
                                                </h3>
                                                <div class="box-images">
                                                    <h3>
                                                        <a href="@Utils.GetUrlBlogPost(itemFeatured.BlogPost.Id)"><img src="@Utils.GetImage(itemFeatured.BlogPost.Avatar, 336, 252)" alt="@itemFeatured.BlogPost.Title"></a>
                                                    </h3>
                                                </div>
                                                <!-- start: box-info-->
                                                <div class="box-info">
                                                    <p class="description">@Html.Raw(itemFeatured.BlogPost.Excerpt)</p>
                                                    <time class="time">@itemFeatured.BlogPost.PublishedTime</time>
                                                    <a class="view-more" href="@Utils.GetUrlBlogPost(itemFeatured.BlogPost.Id)" title="@itemFeatured.BlogPost.Title"> <i class="fa fa-angle-double-right"></i> Xem tiếp</a>
                                                </div>
                                                <!-- end: box-info-->
                                            </div>
                                                <!-- end: hight-light -->
                                        
                                        <!-- start: list-item -->
                                        <ul class="list-items">
                                            @foreach (BlogPostCategoryMapping innerItem in item.BlogPostCategoryMappings.Where(e => e.Id != itemFeatured.Id && e.BlogPost.Status == BlogPostStatus.Published).OrderByDescending(e => e.DisplayOrder).Take(5))
                                            { 
                                                <!-- start: item -->
                                                <li class="item">
                                                    <h3 class="title">
                                                        <a href="@Utils.GetUrlBlogPost(innerItem.BlogPostId)" title="@innerItem.BlogPost.Title">@innerItem.BlogPost.Title</a>
                                                    </h3>
                                                </li>
                                                <!-- end: item -->
                                                }

                                            </ul>
                                            <!-- end: list-item -->
                                        }
                                        </div>
                                        <!-- end: block-content -->
                                    </div>
                                <!-- end: category-news-wrap -->
                            }
                        }
                    </div>
                    <!-- end: content-page-layout-->
                </div>
                <div class="col-xs-12 col-sm-3 col-sm-pull-6">
                    <!-- start: left-page-layout-->
                    <div class="left-page-layout">
                        <!-- start: menu-sidebar-->
                        <div class="menu-sidebar">
                            <div class="head-box-title">
                                <h3>Tin tức và sự kiện</h3>
                            </div>
                            <!-- start: list-links -->
                            <div class="box-content list-links">
                                <ul>
                                    <li>
                                        <h3>
                                            <a href="#">Tin hoạt động SXKD</a>
                                        </h3>
                                    </li>
                                    <li>
                                        <h3>
                                            <a href="#">Hoạt động cộng đồng</a>
                                        </h3>
                                    </li>
                                    <li>
                                        <h3>
                                            <a href="#">Chương trình khuyến mại</a>
                                        </h3>
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <!-- end: menu-sidebar-->
                        <div class="hotline">
                            <a href="#"><img src="img/page/hotline-1.jpg" alt="Alternate Text" /></a>
                        </div>
                        <div class="banner-adv">
                            <a href="#"><img src="img/page/adv-news.jpg" alt="Alternate Text" /></a>
                            <a href="#"><img src="img/page/adv-saving.jpg" alt="Alternate Text" /></a>
                            <a href="#"><img src="img/page/adv-ems.jpg" alt="Alternate Text" /></a>
                        </div>
                        <div class="hotline">
                            <a href="#"><img src="img/page/hotline-1.jpg" alt="Alternate Text" /></a>
                        </div>
                    </div>
                    <!-- end: left-page-layout-->
                </div>
                <div class="col-xs-12 col-sm-3">
                    <!-- start: right-page-layout-->
                    <div class="right-page-layout">
                        <!-- start: inner-box-sidebar most view-->
                        <div class="inner-box-sidebar">
                            <div class="head-box-title">
                                <h3>Xem nhiều nhất</h3>
                            </div>
                            @Html.Action("MostviewedPosts", "Widgets", new { blogCategoryId = blogCategory.Id, take = 5, area = "" })
                        </div>
                        <!-- end: inner-box-sidebar most view-->
                        <!-- start: inner-box-sidebar most view-->
                        <div class="inner-box-sidebar">
                            <div class="head-box-title">
                                <h3>Chủ đề phổ biến</h3>
                            </div>
                            @Html.Action("PopularTags", "Widgets", new { blogCategoryId = blogCategory.Id, area = "" })
                        </div>
                        <!-- end: inner-box-sidebar most view-->
                        <!-- start: inner-box-sidebar.style-line lastest news-->
                        <div class="inner-box-sidebar style-line">
                            <div class="head-box-title">
                                <h3>Bài viêt mới nhất</h3>
                            </div>
                            @Html.Action("MostviewedPosts", "Widgets", new { blogCategoryId = blogCategory.Id, take = 5, area = "" })
                        </div>
                        <!-- end: inner-box-sidebar.style-line lastest news-->
                    </div>
                    <!-- end: right-page-layout-->
                </div>
            </div>
        </div>
        <!-- end: layout-page-wrap -->
    </div>
    <!-- start: layout-page-wrap-->
    @section styles {
        @Styles.Render("~/bundles/content/default/page/css")
    }
    @section scripts {
        <script src="~/Scripts/jquery.timeago.js"> </script>
        <script>
            $(".time-ago").timeago();
            $($("a[href='@Utils.GetUrl(EntityName.Category, "blog")']")).addClass("active");
        </script>
    }
