@using NB_Commerce.Model.Models
@model Product
@{
     ViewBag.Title = Model.MetaTitle ?? Model.Name;
     ViewBag.MetaKeywords = Model.MetaKeywords;
     ViewBag.MetaDescription = Model.MetaDescription;

     var productName = Model.Name.Replace("[","").Replace("]","");
     Category category = Model.ProductCategoryMappings.First(e => e.Category.Grouped != "airport-advertising").Category;
}
<!-- start: BANNER-TOP -->
<div class="banner-top-page">
    @Html.Action("Caller", "StaticBlock", new {identifier = "banner-top-page", area = ""})
</div>
<section class="wrapper">
    <div class="container">
        <!--start: box-breadcrumb-->
        @if(Model.ProductTypeId == 2) {
            @Html.Action("Breadcrumb", "Widgets", new { breadcrumbs = new List<BreadcrumbModel> { new BreadcrumbModel() { Link = @Utils.GetUrl(EntityName.Category, "airport-advertising"), Title = Resources.Resource.Prefix_AirportAdvertising }, new BreadcrumbModel { Link = Utils.GetUrlCategory(category.Id), Title = category.Name.Replace(Resources.Resource.Prefix_AirportAdvertising, "") }, new BreadcrumbModel { Link = "#", Title = productName } }, homeIncluded = true, area = "" })
        }
        else {
            @Html.Action("Breadcrumb", "Widgets", new {breadcrumbs = new List<BreadcrumbModel> {new BreadcrumbModel {Link = Utils.GetUrlCategory(category.Id), Title = category.Name.Replace(Resources.Resource.Prefix_AirportAdvertising,"")} , new BreadcrumbModel {Link = "#", Title = productName}}, homeIncluded = true, area = ""})
        }
        <!--end: box-breadcrumb-->
        <div class="row">
            <!-- start: PAGE CONTENT LEFT -->
            <div class="col-sm-8 page-content-left">
                <!--start: page-title -->
                <div class="page-title">
                    <h1>@productName</h1>
                </div>
                <!--end: page-title -->
                <!--start: detail-adv-place-pages -->
                <div class="detail-adv-place-pages">
                    <div class="row">
                        <!--start: detail-adv-place-viewer -->
                        <div class="col-xs-12 col-sm-6 detail-adv-place-viewer">
                            <div class="sp-loading">
                                <img src="/content/plugins/smoothproducts-master/images/sp-loading.gif" alt=""><br>LOADING IMAGES
                            </div>
                            <div class= "sp-wrap thumblai-viewer" >
                                @foreach (ProductPictureMapping item in Model.ProductPictureMappings)
                                {
                                    <a href="@Utils.GetImage(item.Picture.Url, 656, 383)">
                                        <img src="@Utils.GetImage(item.Picture.Url, 499, 375)" alt="@item.Picture.Title">
                                    </a>
                                }  
                            </div>
                        </div>
                        <!--end: detail-adv-place-info -->
                        <!--start: detail-adv-place-info -->
                        <div class="col-xs-12 col-sm-6 detail-adv-place-info">
                            <b class="title">@productName</b>
                            <p class="info-adv"><span id="quantity-display"> </span> &nbsp; @Model.Viewed lượt xem</p>
                            <!-- content-info -->
                            <div class="content-info">
                                <ul>
                                    @foreach (var itemSpecial in Model.ProductSpecificationAttributeMappings.Where(e => e.DisplayOrder > -1).OrderByDescending(e => e.DisplayOrder))
                                    {  var val = string.IsNullOrEmpty(itemSpecial.CustomValue) == true ? itemSpecial.SpecificationAttributeOption.Name : itemSpecial.CustomValue; {
                                                if (itemSpecial.SpecificationAttributeOption.SpecificationAttribute.Name == "Số lượng")
                                                { 
                                                    <li> <input id="quantity-value" type="hidden" value="@val"/> </li>
                                                }
                                                else {
                                                    <li>
                                                       <span>@itemSpecial.SpecificationAttributeOption.SpecificationAttribute.Name:</span>  @val
                                                    </li>
                                                }
                                            }
                                    }
                                    <li>
                                        <span>Đặc điểm:</span> @Html.Raw(Model.ShortDescription)
                                    </li>    
                                </ul>
                            </div>
                            <!-- content-info -->
                            <!-- box-actions -->
                            <div class="box-actions">
                                <a href="@Utils.GetUrl(EntityName.Page, grouped: "contact-us")"><i class="fa fa-paper-plane"></i> @(Model.TextInsteadBuyButton ?? "Liên hệ ngay") </a>
                            </div>
                            <!-- box-actions -->
                        </div>
                        <!--end: detail-adv-place-info -->
                    </div>    
                    <div class="main-content-adv-place">
                        <h3 class="title-detail">Thông tin chi tiết</h3>
                        <div class="content-details">
                            @Html.Raw(Model.FullDescription)
                        </div>
                    </div>
                </div> 
                <!--end: detail-adv-place-pages -->    
                
                <!-- start: box-place-adv-relates-wrapper -->
                @if (ViewBag.related != null)
                {
                      <div class="box-widgets-wrapper place-adv-relates">
                        <div class="box-title">
                            <h3><a href="#">Vị trí liên quan</a></h3>
                        </div>
                        <ul class="widgets-container">
                            @foreach (Product product in (List<Product>) ViewBag.related)
                            {
                                <li class="items">
                                    <figure class="box-images">
                                        <a href="@Utils.GetUrlProduct(product.Id)"><img src="@Utils.GetImage(product.Picture.Url, 270,162)" alt="@product.Name"></a>
                                        <!-- start: MORE -->
                                        <div class="more">
                                            <a href="@Utils.GetUrlProduct(product.Id)" title="Chi tiết dịch vụ"><i class="fa fa-paper-plane"></i></a>
                                        </div>
                                        <!-- end: MORE -->
                                    </figure>
                                    <div class="sub-info">
                                        <h3 class="title-airport">@product.ProductCategoryMappings.First(e => e.Category.Grouped != "airport-advertising").Category.Name</h3>
                                        <h2 class="title"><a href="@Utils.GetUrlProduct(product.Id)">@product.Name</a>
                                        </h2>
                                        @if(product.FullDescription != null) {
                                            <div class="description except-3">@Html.Raw(product.FullDescription)</div>
                                        }
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                }
                <!-- end: box-place-adv-relates-wrapper -->

                <!-- start: banner-adv-airport -->
                    @Html.Action("Caller", "StaticBlock", new {identifier = "banner-center-page", area = ""})
                <!-- end: banner-adv-airport -->
                                  
                <!-- start: box-widgets-wrapper -->
                @{
                    List<BlogPostProductMapping> listBlogPostsRelates = Model.BlogPostProductMappings.Where(e => e.BlogPost.Status == BlogPostStatus.Published && e.DisplayOrder > -1).OrderByDescending(e=>e.DisplayOrder).ToList();
                    if (listBlogPostsRelates.Any())
                    {
                        <div class="box-widgets-wrapper">
                            <div class="box-title">
                                <h3><a href="#">Tin bài liên quan</a></h3>
                            </div>
                            <ul id="news-related" class="widgets-container owl-carousel">
                                @foreach (BlogPostProductMapping item in listBlogPostsRelates)
                                {
                                    <li class="items">
                                        <figure class="box-images">
                                            <a href="@Utils.GetUrlBlogPost(item.BlogPostId)"><img src="@Utils.GetImage(item.BlogPost.Avatar, 170, 126)" alt="@item.BlogPost.Title"></a>
                                            <!-- start: MORE -->
                                            <div class="more">
                                                <a href="@Utils.GetUrlBlogPost(item.BlogPostId)" title="@item.BlogPost.Title"><i class="fa fa-paper-plane"></i></a>
                                            </div>
                                            <!-- end: MORE -->
                                        </figure>
                                        <div class="sub-info">
                                            <h2 class="title"><a href="@Utils.GetUrlBlogPost(item.BlogPostId)">@item.BlogPost.Title</a></h2>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                }
               
            </div>
            <!-- end: PAGE CONTENT LEFT -->

            <!-- start: PAGE CONTENT RIGHT -->
            <div class="col-sm-4 page-content-right">
                @Html.Action("Caller", "StaticBlock", new {identifier = "banner-right-page", area = ""})
                <!-- start: side-box-wrapper box-service-us -->
                <div class="side-box-wrapper box-service-us">
                    <div class="box-title">
                        <h3>Dịch vụ của chúng tôi</h3>
                    </div>
                   @Html.Action("Caller", "StaticBlock", new { identifier = "pageright-service-focus", area = "" })
                </div>
                <!-- end: side-box-wrapper box-service-us -->
                
                <!-- start: side-box-wrapper -->
                <div class="side-box-wrapper">
                    <div class="box-title">
                        <h3>Bài viết mới nhất</h3>
                    </div>
                    @Html.Action("LatestPosts", "Widgets", new {blogCategoryId = -1, take = 3, area = ""})
                </div>
                <!-- end: side-box-wrapper -->
            </div>
        </div>
    </div>
</section>
@section styles {
    @Styles.Render("~/bundles/content/default/page/css", "~/bundles/content/default/catalog/product/css")
}
@section scripts {
    @Scripts.Render("~/bundles/content/default/catalog/product/js")
    <script>
        var qty = $("#quantity-value").val();
        if (qty != undefined) {
            $("#quantity-display").html("Số lượng: " + $("#quantity-value").val() + "  &nbsp; | "); // sycn
        }
        $($("a[href='@Utils.GetUrl(EntityName.Category, "services")']").parent()).addClass("active");

    </script>
}