@using Resources
@model List<NB_Commerce.Models.BreadcrumbModel>
<div class="box-breadcrumb">
    <ol class="breadcrumb">
        @if (ViewBag.homeIncluded)
        {
            <li><a href="/@SessionManager.GetUniqueSeoCode"><i class="fa fa-home"></i> @*@Resource.Breadcrumb_Home_Text*@</a></li>
        }
        @foreach (BreadcrumbModel item in Model.Where(e=>!e.Title.Equals("root")))
        {
            if(Model.Last() == item) {
                <li class="active">
                    @if (ViewBag.headingIncluded != null && ViewBag.headingIncluded == true)
                    {
                        <h1> @Html.Raw(item.Icon) @item.Title </h1>
                    }
                    else {
                        @Html.Raw(item.Icon) @item.Title
                    }
                </li>
            }
            else {
                <li>
                        <a href="@item.Link"  title="@item.Title"> @Html.Raw(item.Icon) @item.Title </a>
                </li>
            }
        }
    </ol><!--BREADCRUMB-->
</div>