@model List<NB_Commerce.Model.Models.Category>
@if(Model != null) {
    <!-- start: wrapper-list-item -->
    <ul class="wrapper-list-items">
        <!-- start: items -->
         @foreach (var item in Model)
        {
            <!-- start: items -->
            <li class="items">
                <figure class="box-images overlay">
                    <a href="@Utils.GetUrlCategory(item.Id)" title="@item.Name"><img src="@Utils.GetImage(item.Avatar, 181, 136)" alt="@item.Name"></a>
                    <!-- start: MORE -->
                    <div class="more">
                        <a href="@Utils.GetUrlCategory(item.Id)" title="@item.Name"><i class="fa fa-paper-plane"></i></a>
                    </div>
                    <!-- end: MORE -->
                    <div class="content-info">
                        <h2 class="title"><a title="@item.Name" href="@Utils.GetUrlCategory(item.Id)">@item.Name</a></h2>
                    </div>
                </figure>
            </li>
            <!-- end: items -->
        }
    </ul>
<!-- end: wrapper-list-items -->
}