@using NB_Commerce.Model.Models
@model List<NB_Commerce.Model.Models.Category>
<!-- start: services-slider -->
<div class="owl-carousel" id="services-slider">
    @foreach (Category category in Model)
    {
        <!-- start: item -->
        <div class="item">
            <div class="box-images"><a href="@Utils.GetUrlCategory(category.Id)" title="@category.Name"><img alt="@category.Name" src="@Utils.GetImage(category.Avatar, 270, 162)" /></a></div>
            <!-- start: box-info -->
            <div class="box-info">
                <p class="description except-2">@Html.Raw(category.Description)</p>
                <h2 class="title"><a href="@Utils.GetUrlCategory(category.Id)" title="@category.Name">@category.Name</a></h2>
            </div>
            <!-- end: box-info -->
        </div>
        <!-- end: item -->
    }
</div>
<!-- end: services-slider -->