@model List<NB_Commerce.Model.Models.Category>

@if(Model != null) {
    <!-- start: service -->
        <ul>
            @foreach (var item in Model)
            {
                <!-- start: item inner  -->
                <li class="item">
                    <div class="box-images">
                        <a title="@item.Name" href="@Utils.GetUrlCategory(item.Id)"><img alt="@item.Name" style="max-width: 88px" src="@Utils.GetImage(item.Avatar, 88,66)"></a>
                    </div>
                    <div class="box-content">
                        <h2><a title="@item.Name" href="@Utils.GetUrlCategory(item.Id)">@item.Name</a></h2>
                        <p class="except-2">@Html.Raw(item.Description)</p>
                    </div>
                </li>
                <!-- end: item inner  -->
            }
        </ul>
   }
   <!-- end: service -->