@model IEnumerable<NB_Commerce.Model.Models.Category>

    @foreach (var item in Model)
    {
        <div class="col-lg-3 col-md-3 col-xs-12 link-list">

            <div class="col-xms-12 col-xs-6 col-sm-3">
                @item.Name
                @if (item.Name.Any())
                {
                    <h2>
                        <a href="#">@item.Name</a>
                    </h2>
                }

                <ul>
                    @foreach (var innerItem in item.CategoryChildren)
                    {
                        <li><a title="@innerItem.Name" href="@Utils.GetUrlCategory(item.Id)">@innerItem.Name</a></li>
                    }
                </ul>
            </div>

        </div>
    }

