@using NB_Commerce.Model.Models
@using PagedList.Mvc
@model PagedList.IPagedList<NB_Commerce.Model.Models.Testimonial>
<ul class="col-xs-12 list-testimonial-inner hidden">
    @if (Model.Count > 0)
    {
        foreach (Testimonial item in Model)
        {
            <li class="col-xs-12 item">
                <div class="col-xs-2 left">
                    <img src="@item.Avatar" />
                    
                    <time class="time" datetime="@item.CreatedTime"></time>
                </div>
                <div class="col-xs-10 right">
                    <strong>@item.Quotes</strong>
                    <p>@item.ExtraInfo</p>
                </div>
            </li>
        }
    }
</ul>
<input id="page-testimonial" type="hidden" value="@Model.PageNumber"/>
<div class="paging">
    @Html.PagedListPager(Model, page => Url.Action("ListTestimonials", "Widgets", new { ViewBag.orderBy, ViewBag.pageSize, page }), 
                         PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions { 
                                                                                                              LinkToPreviousPageFormat = "<", LinkToNextPageFormat = ">", MaximumPageNumbersToDisplay = 2 }, new AjaxOptions {
                                                                                                                                                                                                                                 HttpMethod = "GET",
                                                                                                                                                                                                                                 UpdateTargetId = "list-testimonial",
                                                                                                                                                                                                                                 LoadingElementId = "list-testimonial-loader",
                                                                                                                                                                                                                                 OnComplete = "PagedOnComplete_List"
                                                                                                                                                                                                                             }))
</div>