@using NB_Commerce.Model.Models
@model List<NB_Commerce.Model.Models.Testimonial>
@if (Model.Count > 0)
{
    <div class="owl-carousel" id="testimonials">
        @foreach (Testimonial item in Model)
        {
            var quotes = Html.Raw(item.Quotes);
            <!-- start: item inner  -->
            <div class="item-inner">
                <div class="box-images"><a href="#"><img alt="@Html.Raw(item.ExtraInfo)" src="@Utils.GetImage(item.Avatar, 121)" /></a></div>
                <h5 class="name">@Html.Raw(item.ExtraInfo)</h5>

                <div class="content">
                    <span  class="time"><i class="fa fa-pencil"></i>@item.CreatedTime.ToString("dd-MM-yyyy")</span>
                    <p class="des except-3">@quotes</p>
                </div>
            </div>
            <!-- end: item inner  -->
        }
    </div>
}