@using NB_Commerce.Helpers
@using NB_Commerce.Repositories
@{
    string suggestSearch = AppConfigs.Get("ShowSuggestSearch");
}
@using (Html.BeginForm("Index", "Search", FormMethod.Get, new { @name = "search-wrapper", @class="search-wrapper" }))
{
    <div class="search-inner">
        <label for="name">Text Input:</label>
        <input tabindex="1" type="text" name="key" class="input-field" data-scope="@ViewBag.scope" placeholder="@Resources.Resource.Search_PlaceHolder" title="*" required value="@ViewBag.keyword"/>

        <button type="submit" value="Submit" class="input-submit"><i class="fa fa-send"></i></button>

        @*<button type="submit">@Resources.Resource.Button_Search_Name</button>
            <input type="hidden" value="@ViewBag.scope" name="scope" />*@
    </div>
}
@if (suggestSearch == "True")
{
    using (Html.BeginScripts())
    {
        <script>
            $("<link/>", {
                rel: "stylesheet",
                type: "text/css",
                href: "/content/plugins/jquery-autocomplete/css/jquery.autocomplete.css"
            }).appendTo("head");
        </script>
        <script src="~/content/plugins/jquery-autocomplete/js/jquery.autocomplete.min.js"> </script>
        <script>
            var submitSession = undefined;
            $('input[name=key]').autocomplete({
                serviceUrl: '/search/get-suggest',
                groupBy: 'category',
                onSelect: function () {

                },
                minChars: 1,
                showNoSuggestionNotice: true,
                noSuggestionNotice: '@Resources.Resource.NoSuggestionNotice_Text'
            }).keyup(function (e) {
                if (e.which === 13) {
                    $(this).parent().parent().parent().find('button').trigger('click');
                }
            });
        </script>
    }
}