@using NB_Commerce.Model.Models
@{
    var category = ViewBag.category as Category ?? new Category();
    ViewBag.Title = category.MetaTitle ?? category.Name;
    ViewBag.MetaKeywords = category.MetaKeywords;
    ViewBag.MetaDescription = category.MetaDescription;
}
<!-- start: layout-page-wrap -->
<div class="layout-page-wrap layout-page-details">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-sm-push-3">
                <!-- start: content-page-layout-->
                <div class="content-page-layout">
                    <!--start: box-breadcrumb-->
                    @Html.Action("Breadcrumb", "Widgets", new { breadcrumbs = new List<BreadcrumbModel> { new BreadcrumbModel { Link = Utils.GetUrlCategory(Convert.ToInt32(category.ParentCategoryId)), Title = category.CategoryParent.Name }, new BreadcrumbModel { Link = "#", Title = category.Name } }, homeIncluded = true, area = "" })
                    <!--end: box-breadcrumb-->
                    <!--start: content-page-inner-->
                    <div class="content-page-inner">
                        @if (category.CategoryChildren.Any())
                        {
                             <!-- start: services-fillter-->
                            <div class="services-fillter fillter-tabs">
                                <!-- start: filters -->
                                <div class="button-group filters-button-group">
                                    <button class="button is-checked" data-filter="*">@Resources.Resource.ShowAll_Text</button>
                                    <button class="button" data-filter=".@category.Id">@category.Name</button>
                                    @foreach (var item in category.CategoryChildren.Where(e => e.IsActive).OrderByDescending(e => e.DisplayOrder))
                                    {
                                        if (item.CategoryChildren.Where(e => e.IsActive).Any())
                                        {
                                            <button class="button" data-filter=".@item.Id">@item.Name</button>
                                        }
                                    }
                                </div>
                                <!-- end: filters -->
                                <!-- start: isotope -->
                                <div class="isotope row">
                                    @foreach (var item in category.CategoryChildren.Where(e => e.IsActive).OrderByDescending(e => e.DisplayOrder))
                                    {
                                <!-- start: element-item-->
                                    <div class="element-item col-xsm-12 col-xs-6 @item.ParentCategoryId" data-category="@item.ParentCategoryId">
                                        <!-- start: cattabs-news-box -->
                                        <article class="box-widgets-wrapper cattabs-news-box">
                                            <div class="box-title">
                                                <h3><a href="@Utils.GetUrlCategory(item.Id)">@item.Name</a></h3>
                                            </div>
                                            <!--start: news-hight-light-->
                                            <div class="service-hight-light">
                                                <figure class="box-images">
                                                    <a href="@Utils.GetUrlCategory(item.Id)"><img src="@Utils.GetImage(item.Avatar, 328, 246)" alt="@item.Name"></a>
                                                    <!-- start: MORE -->
                                                    <div class="more">
                                                        <a href="@Utils.GetUrlCategory(item.Id)" title="@item.Name"><i class="fa fa-paper-plane"></i></a>
                                                    </div>
                                                    <!-- end: MORE -->
                                                </figure>
                                                <div class="news-info">
                                                    <p class="description except-3">
                                                        @Html.Raw(item.Description)
                                                    </p>
                                                </div>
                                            </div>
                                            <!--end: news-hight-light-->
                                        </article>
                                        <!-- end: cattabs-news-box -->
                                    </div>
                                <!-- end: element-item-->
                                        foreach (var innerItem in item.CategoryChildren.Where(e => e.IsActive))
                                        {
                                    <!-- start: element-item-->
                                    <div class="element-item col-xsm-12 col-xs-6 @item.Id" data-category="@item.Id">
                                        <!-- start: cattabs-news-box -->
                                        <article class="box-widgets-wrapper cattabs-news-box">
                                            <div class="box-title">
                                                <h3><a href="@Utils.GetUrlCategory(innerItem.Id)">@innerItem.Name</a></h3>
                                            </div>
                                            <!--start: service-hight-light-->
                                            <div class="service-hight-light">
                                                <figure class="box-images">
                                                    <a href="@Utils.GetUrlCategory(innerItem.Id)"><img src="@Utils.GetImage(innerItem.Avatar, 328, 246)" alt="@innerItem.Name"></a>
                                                    <!-- start: MORE -->
                                                    <div class="more">
                                                        <a href="@Utils.GetUrlCategory(innerItem.Id)" title="@innerItem.Name"><i class="fa fa-paper-plane"></i></a>
                                                    </div>
                                                    <!-- end: MORE -->
                                                </figure>
                                                <div class="news-info">
                                                    <p class="description except-3">
                                                        @Html.Raw(innerItem.Description)
                                                    </p>
                                                </div>
                                            </div>
                                            <!--end: news-hight-light-->
                                        </article>
                                        <!-- end: cattabs-news-box -->
                                    </div>
                                    <!-- end: element-item-->
                                        }
                                    }
                                </div>
                                <!-- end: isotope -->
                            </div>
                            <!-- end: services-fillter-->
                        }
                        else
                        {
                        <!--start: post-header-->
                            <div class="post-header">
                                <header class="post-title">
                                    <h1 class="entry-title">@category.Name</h1>
                                    <div class="module-meta-info">
                                        <div class="post-author-name">By <a itemprop="author" href="http://demo.tagdiv.com/newspaper/author/admin/">Admin</a></div>
                                        <div class="post-date">
                                            Ngày đăng: <time datetime="@category.CreatedTime">@category.CreatedTime</time>
                                        </div>
                                        <div class="post-comments-views">
                                            <span><i class="fa fa-eye"></i>@category.Viewed</span>
                                            <span><a href="#"><i class="fa fa-comment-o"></i>3</a></span>
                                        </div>
                                    </div>
                                </header>
                                <div class="post-description">
                                    <p>@Html.Raw(category.Description)</p>
                                </div>
                            </div>
                        <!--end: post-header-->
                        <!--start: post-content-->
                            <div class="post-content">
                                <div>
                                    @Html.Raw(category.Presentation)
                                </div>
                                <br />
                                @{
                            var productFeatured = category.ProductCategoryMappings.Where(e => e.IsFeaturedProduct).OrderByDescending(e => e.DisplayOrder).ToList();
                            if (productFeatured.Any())
                            {
                                <div style="margin: 12px 0px">
                                    <hr />
                                    <b>Sản phẩm nổi bật</b>
                                    <ul class="post-link-relates">
                                        @foreach (var item in productFeatured)
                                        {
                                            <li class="item">
                                                - <a href="@Utils.GetUrlProduct(item.ProductId)" title="@item.Product.Name">@item.Product.Name</a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            }
                                }
                                @if (!category.CategoryChildren.Any())
                                {
                                    <!-- start: layout-slider-relate -->
                                    <div class="layout-slider-relate">
                                        <!-- start: block-title -->
                                        <div class="block-title">
                                            <h3 class="heading"><a href="#">Dịch vụ liên quan</a></h3>
                                        </div>
                                        <!-- end: block-title -->
                                        <div class="box-content">
                                            <div id="news-relate-category-slider" class="owl-carousel">
                                                @foreach (Category innerItem in category.CategoryParent.CategoryChildren.Where(e => e.IsActive && e.Id != category.Id).OrderByDescending(e => e.DisplayOrder))
                                                {
                                                    <!-- start: item -->
                                                    <div class="item">
                                                        <div class="box-images">
                                                            <a href="@Utils.GetUrlCategory(innerItem.Id)"><img src="@Utils.GetImage(innerItem.Avatar, 270, 200)" alt="@innerItem.Name"></a>
                                                        </div>
                                                        <div class="box-info">
                                                            <h2 class="title"><a href="@Utils.GetUrlCategory(innerItem.Id)">@innerItem.Name</a></h2>
                                                        </div>
                                                    </div>
                                                    <!-- end: item -->
                                                }
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                                        <!--end: post-content-->
                        }
                    </div>
                    <!--end: content-page-inner-->
                </div>
                <!-- end: content-page-layout-->
            </div>
            <div class="col-xs-12 col-sm-3 col-sm-pull-9">
                <!-- start: left-page-layout-->
                <div class="left-page-layout">
                    <!-- start: menu-sidebar-->
                    <div class="menu-sidebar">
                        <div class="head-box-title">
                            <h3>Tin tức và sự kiện</h3>
                        </div>
                        <!-- start: list-links -->
                        <div class="box-content list-links">
                            <ul>
                                <li>
                                    <h3>
                                        <a href="#">Tin hoạt động SXKD</a>
                                    </h3>
                                </li>
                                <li>
                                    <h3>
                                        <a href="#">Hoạt động cộng đồng</a>
                                    </h3>
                                </li>
                                <li>
                                    <h3>
                                        <a href="#">Chương trình khuyến mại</a>
                                    </h3>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- end: menu-sidebar-->
                    <!--Banner Call Center-->
                    @Html.Action("Caller", "StaticBlock", new { identifier = "banner-right-page", area = "" })
                    <!-- hotline-banner-adv-sidebar -->
                    @Html.Action("Caller", "StaticBlock", new { identifier = "sidebar-hotline-adv", area = "" })
                </div>
                <!-- end: left-page-layout-->
            </div>
        </div>
    </div>
</div>
<!-- end: layout-page-wrap -->
@section styles {
    @Styles.Render("~/bundles/content/plugins/owlcarousel/css", "~/bundles/content/default/page-detail/css", "~/bundles/content/default/page/css")
}
@section scripts {
    <script src="~/Content/plugins/owlcarousel/js/owl.carousel.min.js"></script>
    @Scripts.Render("~/bundles/content/default/blog/blog-category/js", "~/bundles/content/default/blog/blog-post/js")
    @Scripts.Render("~/bundles/content/default/catalog/category/js/default")
    <script>
        setTimeout(function () {
            $(".is-checked").trigger("click");
        }, 3200);
    </script>
}
