@using NB_Commerce.Model.Models
@model List<NB_Commerce.Model.Models.Category>
@{
    int count = 0;
    Category category = Model.FirstOrDefault() ?? new Category();
}
  @if(category.Id > 0) {
      <div class="wrapper-content">
          <!-- start: BOX OUR GALLERY -->
          <div class="box-our-gallery">
              <!-- start: PRIMARY -->
              <nav class="primary clearfix">
                  <ul>
                      <li><a href="#" class="selected" data-filter="*">@category.Name</a></li>
                      @foreach (Category item in category.CategoryChildren.Where(e=>e.IsActive && e.DisplayOrder > -1).OrderByDescending(e=>e.DisplayOrder))
                      {
                          <li><a title="@item.Name" href="#" data-filter=".@("item-" + item.Id)">@item.Name.Replace(category.Name,"")</a></li>
                      }
                  </ul>
              </nav>
              <!-- end: PRIMARY -->
              <!-- start: BLUEIMP-GALLERY -->
              <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-use-bootstrap-modal="false">
                  <!-- The container for the modal slides -->
                  <div class="slides"></div>
                  <!-- Controls for the borderless lightbox -->
                  <h3 class="title">@category.Name</h3>
                  <!-- The placeholder for the description label: -->
                  <p class="description"></p>
                  <a class="prev">‹</a>
                  <a class="next">›</a>
                  <a class="close">×</a>
                  <a class="play-pause"></a>
                  <ol class="indicator"></ol>
                  <!-- The modal dialog, which will be used to wrap the lightbox content -->
                  <div class="modal fade">
                      <div class="modal-dialog">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <button type="button" class="close" aria-hidden="true">&times;</button>
                                  <h4 class="modal-title">@category.Name</h4>
                              </div>
                          </div>
                          <div class="modal-body next"></div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-default pull-left prev">
                                  <i class="glyphicon glyphicon-chevron-left"></i> Previous
                              </button>
                              <button type="button" class="btn btn-warning next">
                                  Next
                                  <i class="glyphicon glyphicon-chevron-right"></i>
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- end: BLUEIMP-GALLERY -->

              <!-- start: GALLERY PORTFOLIO -->
              <div class="row gallery portfolio" id="modalGallery">
                  @foreach(Category iCategory in category.CategoryChildren.Where(e=>e.IsActive && e.DisplayOrder > -1).OrderByDescending(e=>e.DisplayOrder)) {
                    foreach (ProductCategoryMapping item in iCategory.ProductCategoryMappings.Where(e=>e.IsFeaturedProduct).OrderByDescending(e=>e.DisplayOrder)){
                      foreach(var innerItem in item.Product.ProductPictureMappings.OrderBy(e=>e.DisplayOrder)) {
                          count += 1;
                          <article class="col-xmb-12 col-xs-6 col-md-4 entry @("item-" + iCategory.Id)">
                              <div class="item-inner">
                                  <a href="@innerItem.Picture.Url" title="@innerItem.Picture.Title" data-description="@item.Product.ShortDescription" data-gallery="@("item-" + item.ProductId)">
                                      <img src="@Utils.GetImage(innerItem.Picture.Url,370,222)" alt="@innerItem.Picture.Title" />
                                  </a>
                                  <!-- start: figcaption -->
                                  <div class="figcaption transition-delay">
                                      <!-- start: content showcase -->
                                      <div class="caption-block transition-delay">
                                          <div class="actions">
                                              <a href="@innerItem.Picture.Url" title="@innerItem.Picture.Title" data-description="@item.Product.ShortDescription" data-gallery="@("item-" + item.ProductId)"><i class="fa fa-expand"></i></a>
                                              <a href="@Utils.GetUrlProduct(item.ProductId)"><i class="fa fa-link"></i></a>
                                          </div>
                                          <h3><a href="@Utils.GetUrlProduct(item.ProductId)">@item.Product.Name</a></h3>
                                          <p class="des">@Html.Raw(innerItem.Picture.Title)</p>
                                      </div>
                                      <!-- end: content showcase -->
                                  </div>
                                  <!-- end: figcaption -->
                              </div>
                          </article>
                      }
                  }
              }  
              </div>
              @if(count > 30) {
                  <p><button id="add" class="add-items"><i class="fa fa-plus"></i></button></p>
              }
              <!-- end: GALLERY PORTFOLIO -->
          </div>
          <!-- end: BOX OUR GALLERY -->
      </div>
  }