@using NB_Commerce
@using NB_Commerce.Model.Models
@using NB_Commerce.Models
@using NB_Commerce.Repositories
@{
    ViewBag.Title = "Xác nhận đơn hàng";
}

<style>
    .b-success {
      margin-bottom: 25px;
    }
    .b-success .price {
        color: #E25831;
    }

    .notify-coupon {
        background-color: #f7f7f7;
        padding: 5px 10px;
    }

    .b-success-main {
        border: 1px solid #ddd;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        min-height: 472px;
        width: 100%;
        float: left;
        background-color: #fefefe;
    }

    .b-success-trust {
        float: left;
        padding: 15px 15px 15px 20px;
        width: 30%;
    }

    .b-success-trust .b-success-img {
        text-align: center;
    }

    .b-success-order {
        padding: 15px 20px 15px 10px;
        width: 69%;
        float: right;
    }

    h1.b-success-title {
        font-size: 22px;
        line-height: 28px;
        margin: 0px 0 10px 0;
        font-weight: 700;
        padding: 0;
        color: #f60;
        border-bottom: 1px dotted;
        padding-bottom: 12px;
    }

    .b-success-order .b-success-number {
        font-size: 15px;
        margin-top: 10px;
    }

    .b-success-order-number {
        font-size: 18px;
        font-weight: bold;
        margin-left: 10px;
    }

    .b-success a {
        color: #E25831;
    }

    .b-success a:hover {
        text-decoration: underline;
    }

    .b-success_note-box {
        list-style: disc inside !important;
    }

    .b-success-order .b-success-note {
        margin: 8px 0;
        line-height: 21px;
    }

    .b-success-order .b-success-email {
        color: #090;
        font-weight: bold;
    }
    .b-success-benefit {
        padding: 12px;
        background: #F9E6D6;
    }

    .b-success-order .b-success-faq-title {
        color: #444;
        padding: 10px 0 0px 0;
        margin: 15px 0 3px 0;
        border-top: 1px solid #dfdfdf;
        font-size: 15px;
        font-weight: bold;
    }

    .b-success-order .b-success-faq-list {
        list-style: disc inside;
    }

    .b-success-order .b-success-faq-item {
        padding-bottom: 5px;
    }

    .b-success-order .b-success-continue {
        border-top: 1px solid #dfdfdf;
        padding-top: 13px;
        margin-top: 45px;
        font-weight: bold;
    }

    ul.lt-coupon {
        margin-left: 15px;
        color: #E25831;
    }

    ul.lt-coupon li {
        float: left;
        border-right: 1px solid #fff;
        margin-right: 10px;
    }

    ul.lt-coupon li:nth-last-child(1) {
        border: none;
    }
</style>
@Html.Action("Breadcrumb", "Widgets", new {breadcrumbs = new List<BreadcrumbModel> {new BreadcrumbModel {Link = "#", Title = "Xác nhận đặt hàng"}}, homeIncluded = true, area = ""})
<div class="container b-success">
    @*Complete Left*@
    <div class="b-success-main">
        <ul class="b-success-trust">
            <li class="b-success-img">
                <img style="width: 222px;margin-top: 44px;" src="/images/shared/checkout-complete.png" alt=" - Niềm Vui Mua Sắm">
            </li>
        </ul>
        <div class="b-success-order">
            <h1 class="b-success-title">Cảm ơn bạn đã mua hàng tại @AppConfigs.Get("StoreName") !</h1>
            <p class="b-success-number">
                <span>Mã số đơn hàng của bạn:</span>
                <span class="b-success-order-number">
                    <a href="#" title="Xem chi tiết đơn hàng"> @ViewBag.OrderId </a>
                </span>
            </p>
            @*Thông báo nhận mã Coupon cho từng đối tượng khách hàng*@
            <div class="notify-coupon">
                <ul class="b-success_note-box">
                    <li class="b-success-note">
                        Đơn hàng của bạn sẽ hoàn thành khi được thanh toán
                    </li>
                    <li class="b-success-note">
                        Số tiền bạn cần thanh toán là:
                            
                        <span class="b-success-order-number price">
                            @ViewBag.orderTotal
                        </span>
                    </li>
                    @if (ViewBag.CuponName != null) {
                        <li class="b-success-note">Để cảm ơn Quý khách hàng đã mua hàng tại Website.</li>
                        <li class="b-success-note">Chúng tôi xin tặng quý khách Coupon giảm giá: <strong>@ViewBag.CuponName</strong></li>
                        <li class="b-success-note">Coupon có giá trị sử dụng đến ngày: <strong>@ViewBag.CuponEndDate</strong></li>
                            
                        <li class="b-success-note"><strong>Với Cupon này bạn sẽ được: </strong></li>
                        <li class="b-success-benefit">
                            @{
                                @ViewBag.CuponBenefit
                                var lca = ViewBag.categories as List<Category>;
                                if (lca != null)
                                {
                                    <ul style="margin-left: 25px;">
                                        @foreach (var category in lca)
                                        {
                                            <li><a target="_blank" href="@Utils.GetUrlCategory(category.Id)"> @category.Name </a> </li>
                                        }
                                    </ul>
                                }
                                   
                                    
                                var lpa = ViewBag.products as List<Product>;
                                if (lpa != null)
                                {
                                    <ul style="margin-left: 25px;">
                                        @foreach (var product in lpa)
                                        {
                                            <li><a target="_blank" href="@Utils.GetUrlProduct( product.Id)"> @product.Name </a> </li>
                                        }
                                    </ul>
                                }
                            }
                        </li>  
                        <li class="b-success-note">Mã coupon sẽ được gửi vào email cho Quý khách hàng ngay sau khi đơn hàng được thanh toán.</li>
                    }
                </ul>
            </div>
                
            <ul class="b-success_note-box">
                <li class="b-success-note">
                    Thời gian giao hàng dự kiến từ <strong>3 - 4 ngày làm việc</strong>, không kể Thứ 7 &amp; Chủ Nhật
                </li>
                <li class="b-success-note">
                    Thông tin chi tiết về đơn hàng đã được <strong>gửi đến địa chỉ mail </strong><span class="b-success-email"><a href="maito:@ViewBag.CustomerEmail">@ViewBag.CustomerEmail</a></span>. Bạn vui lòng kiểm tra hộp thư, nếu không tìm thấy vui lòng tìm thêm trong hộp thư Spam hoặc Junk Folder
                </li>
            </ul>
            @*<div>
                    <h3 class="b-success-faq-title">Câu hỏi thường gặp</h3>
                    <ul class="b-success-faq-list">
                        <li class="b-success-faq-item"><a href="#" title="Xác nhận đơn hàng như thế nào?" target="_blank">Xác nhận đơn hàng như thế nào?</a></li>
                        <li class="b-success-faq-item"><a href="#" title="Thời gian giao hàng" target="_blank">Thời gian giao hàng</a></li>
                        <li class="b-success-faq-item"><a href="#" title="Chính sách đổi trả" target="_blank">Chính sách đổi trả</a></li>
                    </ul>
                </div>*@

            <div class="b-success-continue text-right">
                <a href="/" title="Tiếp tục mua sắm tại "><i class="fa fa-angle-double-left"></i> Tiếp tục mua sắm </a>
            </div>
        </div>
    </div>
</div>

@section scripts {
        <script>
            $.post("../shopping-cart/clear", function () {
                window.localStorage.removeItem("cart");
                if ($.cart) {
                    $.cart.cart([]);
                    $.cart.removeCupon();
                }
            });
            $(document).ready(function () {
                $('html, body').animate({ scrollTop: 472 }, 100);
            });
        </script>
}
