
@using NB_Commerce.Repositories
@{
    ViewBag.Title = "Checkout";
    Layout = null;
}
@{
    Html.EnableClientValidation();
}

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width,  maximum-scale=1.0, user-scalable=yes" />
<link rel="canonical" href="@HttpContext.Current.Request.Url.AbsolutePath" />
<link href="@AppConfigs.Get("Favicon")" rel="shortcut icon" type="image/x-icon" />
@Styles.Render("~/bundles/css/core") 
@Styles.Render("~/bundles/css/shared")
@Styles.Render("~/bundles/content/default/checkout/css")
@Styles.Render("~/bundles/content/default/account/css")
@{
    dynamic isAuthenticated = (Request.IsAuthenticated || ViewBag.Identifier != null);
}

<div class="loading-text">
    <div id="turn-fading">
        <div id="turn-fading_1" class="turn-fading">
            Đ</div>
        <div id="turn-fading_2" class="turn-fading">
            a</div>
        <div id="turn-fading_3" class="turn-fading">
            n</div>
        <div id="turn-fading_4" class="turn-fading">
            g</div>
        <div id="turn-fading_5" class="turn-fading">
            &nbsp;
        </div>
        <div id="turn-fading_6" class="turn-fading">
            t</div>
        <div id="turn-fading_7" class="turn-fading">
            h</div>
        <div id="turn-fading_8" class="turn-fading">
            ự</div>
        <div id="turn-fading_9" class="turn-fading">
            c</div>
        <div id="turn-fading_10" class="turn-fading">
            &nbsp;
        </div>
        <div id="turn-fading_11" class="turn-fading">
            h</div>
        <div id="turn-fading_12" class="turn-fading">
            i</div>
        <div id="turn-fading_13" class="turn-fading">
            ệ</div>
        <div id="turn-fading_14" class="turn-fading">
            n</div>
        <div id="turn-fading_15" class="turn-fading">
            ,</div>
        <div id="turn-fading_16" class="turn-fading">
            &nbsp;
        </div>
        <div id="turn-fading_17" class="turn-fading">
            b</div>
        <div id="turn-fading_18" class="turn-fading">
            ạ</div>
        <div id="turn-fading_19" class="turn-fading">
            n</div>
        <div id="turn-fading_20" class="turn-fading">
            &nbsp;
        </div>
        <div id="turn-fading_21" class="turn-fading">
            đ</div>
        <div id="turn-fading_22" class="turn-fading">
            ợ</div>
        <div id="turn-fading_23" class="turn-fading">
            i</div>
        <div id="turn-fading_24" class="turn-fading">
            &nbsp;
        </div>
        <div id="turn-fading_25" class="turn-fading">
            c</div>
        <div id="turn-fading_26" class="turn-fading">
            h</div>
        <div id="turn-fading_27" class="turn-fading">
            ú</div>
        <div id="turn-fading_28" class="turn-fading">
            t</div>
        <div id="turn-fading_29" class="turn-fading">
            .</div>
        <div id="turn-fading_30" class="turn-fading">
            .</div>
        <div id="turn-fading_31" class="turn-fading">
            .</div>
    </div>
</div>
<div class="container-fluid wrapper account hidden">
    <header class="pull-left b-header">
        @*Logo*@
        <a class="pull-left" href="/">
            <img style="margin-top: 15px; width: 124px;" alt="@AppConfigs.Get("StoreName")" src="@AppConfigs.Get("Logo")" />
        </a>
        <div class=" pull-left b-header__step">
            <ul class="b-header__step-box clearfix nav-tabs" id="check-out-steps">
                <li class="b-header__step-position active">
                    <a data-steps="1" href="#login-step" class="passed">
                        <span class="b-header__step-number">1</span><span class="b-header__step-name">Đăng nhập</span>
                    </a>
                </li>
                <li class="b-header__step-position">
                    <a data-steps="2" href="#address-shipping-step">
                        <span class="b-header__step-number">2</span><span class="b-header__step-name">Địa chỉ giao hàng</span>
                    </a>
                </li>
                <li class="b-header__step-position">
                    <a data-steps="3" href="#address-payment-step">
                        <span class="b-header__step-number">3</span><span class="b-header__step-name">Thanh toán</span>
                    </a>
                </li>
                <li class="b-header__step-position">
                    <a data-steps="4" href="#order-step">
                        <span class="b-header__step-number">4</span><span class="b-header__step-name">Đặt mua</span>
                    </a>
                </li>
            </ul>
            <div class="b-header__step-line">
                <div class="b-header__step-line-color"></div>
                <span class="b-header__step-line-arrow"></span>
            </div>
        </div>
        <div class="pull-right">
            <div class="hot-line" style="border: 1px solid lightgrey; padding: 0px 12px;"> 
                <h3 style="color: red;">
                    <i class="fa fa-phone-square"></i>
                    Hotline:  @Html.Action("Caller", "StaticBlock", new {area = "", identifier = "hot-line"})
                </h3>
            </div>
        </div>
    </header>
    <div class="pull-left wp-content">
        <section class="pull-left checkcout-left tab-content checkout-bind-able">
            @*Form Login*@
            @if (!isAuthenticated)
            {
                <div class="login tab-pane in active" id="login-step" data-form="login">
                    <h3>1. Đăng nhập, hoặc @Html.ActionLink("Đăng ký", "Register", "Account")</h3>
                  
                    <div class="option-account">
                         @if (AppConfigs.Get("CheckoutAsGuest") == "True")
                        {
                            <div class="radio">
                                <label>
                                     <input type="radio" checked="checked" id="check-out-with-account" name="option-account"><span class="circle"></span><span class="check"></span>
                                     Sử dụng tài khoản có sẵn
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" style="margin-left: 16px;" id="check-out-as-guest"  name="option-account"><span class="circle"></span><span class="check"></span>
                                    Đặt hàng không cần đăng ký tài khoản
                                </label>
                            </div>
                        }
                    </div>
                    <div class="tab-content-account">
                        <div id="login-container-content" class="check-out-with-account form-horizontal tab-pane active">
                            @Html.Action("Login", "Account", new { area = "" })
                        </div>
                        @if (AppConfigs.Get("CheckoutAsGuest") == "True")
                        {
                            <div class="check-out-as-guest tab-pane form-horizontal hidden" id="check-out-as-guest-container">
                                @Html.Action("CheckOutGuest", "Account", new { area = "" })
                            </div>
                        }
                    </div>
                    <div class="login-or">
                        <hr class="hr-or">
                        <span class="span-or">or</span>
                    </div>

                    <div class="row b-social  login-other">
                        <div class="col-xs-12">
                            @Html.ActionLink("Login with Facebook", "Facebook", "Account", null, htmlAttributes: new { @class = "check-out-with-account-facebook" })
                        </div>
                        @*<div class="col-xs-6">
                            @Html.ActionLink("Login with Google", "Google","Account", null ,htmlAttributes: new {@class = "google"})
                        </div>*@
                    </div>
                    
                </div>
            }
            else
            {
                <input type="hidden" name="Identifier" value="@ViewBag.Identifier"/>
            }
            @*Form Address*@
            <div class="address tab-pane" id="address-shipping-step">
                <h3>2. Địa chỉ giao hàng</h3>
                <div class="form-horizontal" role="form">
                    <h2>Chọn hình thức vận chuyển</h2>
                    <ul class="b-payment__list" style="float: left" data-bind="foreach: $root.methodShipping()">
                        <li class="opc_method_cod">
                            <input data-bind="value: Id, checked: $root.shipping().method, attr: { id: Id }" type="radio" name="shipping[method]">
                            <img alt="" src="#" data-bind="attr: { src: Icon }"/>
                            <label data-bind="text: Name, attr: { for: Id }"></label>
                            <div class="method-desc" data-bind="html: Description, visible: $root.shipping().method() == Id">
                            </div>
                        </li>
                    </ul>
                    <h2>Địa chỉ giao hàng</h2>
                    <div role="form" class="form-horizontal" style="padding: 0">
                        <div class="b-shipping" data-bind="visible: $root.noAddress() != 2">
                            <div class="b-shipping__head">
                                <input id="current-shipping" value="current-shipping" type="radio" name="address[shipping]" data-bind="checked: $root.shipping().flags">
                                <label for="current-shipping" class="b-shipping__head-title">Sử địa chỉ giao hàng có sẵn bên dưới</label>
                            </div>
                            <ul class="b-shipping__info" data-bind="template: { name: 'address-template', data: $root.shipping().addressCurrent() }, visible: $root.shipping().flags() == 'current-shipping'"> </ul>
                        </div>
                        <div class="b-shipping">
                            <div class="b-shipping__head">
                                <input id="new-shipping" value="new-shipping" type="radio" name="address[shipping]" data-bind="checked: $root.shipping().flags">
                                <label for="new-shipping" class="b-shipping__head-title">Sử dụng địa chỉ mới</label>
                                <div data-bind="visible: $root.shipping().flags() == 'new-shipping'">
                                    <div class="form-horizontal" role="form" data-bind="template: { name: 'address-form-template', data: $root.shipping().addressNew() }">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="submit">
                        <button type="button" data-bind="click: $root.submitShipping, enable: $root.submitShippingVaild() == true" class="btn next">Tiếp tục</button>
                    </div>
                </div>
            </div>
            @*Form Buy*@
            <div class="buy tab-pane" id="address-payment-step">
                <h3>3. Thanh toán</h3>
                <div class="form-horizontal" role="form">
                    <h2>Chọn hình thức thanh toán</h2>
                    <ul class="b-payment__list" style="float: left" data-bind="foreach: $root.methodPayment()">
                        <li class="opc_method_cod">
                            <input data-bind="value: Id, checked: $root.payment().method, attr: { id: Id }" type="radio" name="payment[method]">
                            <img alt="" src="#" data-bind="attr: { src: Icon }"/>
                            <label data-bind="text: Name, attr: { for: Id }"></label>
                            <div class="method-desc" data-bind="html: Description, visible: $root.payment().method() == Id">
                            </div>
                        </li>
                    </ul>
                    @* @using (Html.BeginForm("Pay", "Checkout"))
                        {
                            <input type='image' name='submit'
                                src='https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif' />
                        }*@
                    <h2>Địa chỉ thanh toán</h2>
                    <div role="form" style="float: left; margin-bottom: 30px;">
                        <div class="b-shipping">
                            <div class="b-shipping__head">
                                <input id="reuse-payment" value="reuse-payment" type="radio" name="address[payment]" data-bind="checked: $root.payment().flags">
                                <label for="reuse-payment" class="b-shipping__head-title">Sử dụng địa chỉ giao hàng</label>
                            </div>
                            <ul class="b-shipping__info" data-bind="template: { name: 'address-template', data: $root.shipping().addressCurrent() }, visible: $root.payment().flags() == 'reuse-payment'"> </ul>
                        </div>
                        <div class="b-shipping" data-bind="visible: $root.noAddress() != 2">
                            <div class="b-shipping__head">
                                <input id="current-payment" value="current-payment" type="radio" name="address[payment]" data-bind="checked: $root.payment().flags">
                                <label for="current-payment" class="b-shipping__head-title">Sử địa chỉ thanh toán có sẵn bên dưới</label>
                            </div>
                            <ul class="b-shipping__info" data-bind="template: { name: 'address-template', data: $root.payment().addressCurrent() }, visible: $root.payment().flags() == 'current-payment'"> </ul>
                        </div>
                        <div class="b-shipping">
                            <div class="b-shipping__head">
                                <input id="new-payment" value="new-payment" type="radio" name="address[payment]" data-bind="checked: $root.payment().flags">
                                <label for="new-payment" class="b-shipping__head-title">Sử dụng địa chỉ mới</label>
                                <div data-bind="visible: $root.payment().flags() == 'new-payment'">
                                    <div class="form-horizontal" role="form" data-bind="template: { name: 'address-form-template', data: $root.payment().addressNew() }">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="submit">
                        <button type="button" data-bind="click: $root.submitpayment, enable: $root.submitPaymentVaild() == true" class="btn next">Tiếp tục</button>
                    </div>
                </div>
            </div>
            @*Form Book Buy*@
            <div class="book-buy tab-pane" id="order-step">
                <h3>4. Đặt mua</h3>
                <div class="form-horizontal" role="form">
                    <div class="b-shipping">

                        <div class="b-shipping__head">
                            <input id="red-billing-require" value="reuse-payment" type="checkbox" data-bind="checked: $root.order().redBillingRequire">
                            <label for="red-billing-require" class="b-shipping__head-title">Yêu cầu xuất hóa đơn đỏ cho đơn đặt hàng này</label>
                        </div>
                        <div class="form-horizontal" role="form" data-bind="visible: $root.order().redBillingRequire() == true">
                            <div class=" form-group">
                                <label class="col-sm-4 control-label">Tên công ty</label>
                                <div class="col-sm-8">
                                    <input type="email" data-bind="value: $root.order().redBilling().companyName" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Mã số thuế</label>
                                <div class="col-sm-8">
                                    <input type="email" data-bind="value: $root.order().redBilling().taxCode" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Địa chỉ</label>
                                <div class="col-sm-8">
                                    <textarea data-bind="value: $root.order().redBilling().address" maxlength="255" class="form-control" placeholder="Số nhà, tên đường, tên tòa nhà (nếu có), phường xã"></textarea>
                                </div>
                            </div>
                        </div>

                    </div>
                    <h2>Ghi chú</h2>
                    <div style="margin-bottom: 20px;">
                        <textarea data-bind="value: $root.order().note" maxlength="255" class="form-control" rows="8" style="margin-left: 0px; width: 100%;"  placeholder="Ghi chú đơn hàng"></textarea>
                    </div>
                    <div class="submit">
                        <button type="button" data-bind="click: $root.submitOrder" class="btn next">Đặt mua</button>
                    </div>
                </div>
            </div>
        </section>
        <section class="pull-right checkcout-right">
            <div class="b-shipping checkout-bind-able" data-bind="visible: $root.completed() > 2">
                <div class="b-shipping__head">
                    <strong class="b-shipping__head-title">Địa chỉ giao hàng</strong>
                    <a class="pull-right" onclick=" $.checkout.steps(2); " data-bind="css: { tabcurrent: $root.steps() == 2 }" href="#" rel="nofollow">
                        Thay đổi
                    </a>
                </div>
                <i data-bind="text: $root.shipping().methodName"> </i>
                <ul class="b-shipping__info" data-bind="template: { name: 'address-template', data: $root.shipping().address() }"></ul>
            </div>
            <div class="b-shipping checkout-bind-able" data-bind="visible: $root.completed() > 3">
                <div class="b-shipping__head">
                    <strong class="b-shipping__head-title">Thông tin thanh toán</strong>
                    <a class="pull-right" onclick=" $.checkout.steps(3); " data-bind="css: { tabcurrent: $root.steps() == 3 }" href="#" rel="nofollow">
                        Thay đổi
                    </a>
                </div>
                <i data-bind="text: $root.payment().methodName"> </i>
                <ul class="b-shipping__info" data-bind="template: { name: 'address-template', data: $root.payment().address() }"></ul>
            </div>
            <div class="b-total cart-bind-able">
                <header class="b-top">
                    <h3>
                        Đơn hàng <span>(<b data-bind="text: quantity()"></b> sản phẩm)</span>
                        <a class="pull-right " data-bind="click: $root.showCart" href="#" rel="nofollow">
                            Sửa
                        </a>
                    </h3>
                </header>
                <div class="b-summary__item">
                    <ul class="b-summary__item-list" data-bind="foreach: cart">
                        <li class="b-summary__item-list-box">
                            <div class="b-summary__item-box">
                                <span class="b-summary__item-count"><span data-bind="text: $data.quantity"></span>x</span>
                                <a href="#" class="b-summary__item-name" data-bind="text: $data.product().name" target="_blank"></a>
                            </div>
                            <div class="b-summary__item-price" data-bind="text: $data.cost().formatMoney()"></div>
                        </li>
                    </ul>
                </div>
                <div class="b-summary__price">
                    <ul class="b-summary__price-list">
                        <li><span class="b-summary__price-subtotal">Tạm tính</span><span class="b-summary__price-subtotal-value" data-bind="text: subtotal().formatMoney()"></span></li>
                        <li data-bind="visible: $root.cuponApplied() == true"><span>Giảm giá (cupon)</span><span class="b-summary__price-no-shipping" data-bind="    text: discount().formatMoney()"></span></li>
                        <li><span>Phí vận chuyển</span><span class="b-summary__price-no-shipping" data-bind="text: shipping_cost().formatMoney()"></span></li>
                    </ul>
                </div>
                <div class="b-summary__total">
                    <span class="b-summary__total-name">Tổng cộng</span><span class="b-summary__total-value" data-bind="text: total().formatMoney()"></span>
                </div>
                <div class="b-summary__benefit" style="display: none">
                    Bạn sẽ được tặng <a href="#" title="Tìm hiểu thêm về Tiki Xu" target="_blank"><strong>600 Tiki Xu</strong></a> sau khi hoàn tất thanh toán đơn hàng này
                </div>
            </div>
        </section>
    </div>
    <footer class="b-footer">
        <div class="clearfix">
            <div class="b-policy clearfix col-md-5 pull-left">
                <a href="#" target="_blank" title="Điều khoản sử dụng">Điều khoản sử dụng</a>
                <a href="#" target="_blank" title="Chính sách đổi trả">Chính sách đổi trả</a>
                <a href="#" target="_blank" title="Chính sách bảo mật">Chính sách bảo mật</a>
            </div>
            <div class="b-footer__text col-md-5 pull-left">
                © 2014 - Bản quyền của Công Ty Cổ Phần Nextbrand.com.vn
            </div>
        </div>
    </footer>
</div>
<script type="text/html" id="address-template">
    <li><span data-bind="text: fullName"></span></li>
    <li><span data-bind="text: address1"></span>, <span data-bind="    text: districtName"></span>, <span data-bind="    text: stateProvinceName"></span> </li>
    <li>Điện thoại: <span data-bind="text: phoneNumber"></span></li>
</script>
<script type="text/html" id="address-form-template">
    <div class="form-group">
        <label class="col-sm-4 control-label required">Họ & Tên</label>
        <div class="col-sm-4">
            <input type="text" style="width: 180px;" data-bind="value: firstName" class="form-control" placeholder="Họ và đệm">
        </div>
        <div class="col-sm-3">
            <input type="text" style="margin-left: -2px;" data-bind="value: lastName" class="form-control" placeholder="Tên">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Email</label>
        <div class="col-sm-8">
            <input type="text" data-bind="value: email" class="form-control" placeholder="Email khác (nếu có)">
        </div>
    </div>
    <div class="form-group">
        <label for="" class="col-sm-4 control-label required">Số điện thoại</label>
        <div class="col-sm-8">
            <input type="text" data-bind="value: phoneNumber, valueUpdate: 'afterkeydown'" class="form-control" placeholder="Số điện thoại liên lạc">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label required">Tỉnh/Thành phố</label>
        <div class="col-sm-8">
            <select class="form-control" data-bind='options: stateProvinces, optionsText: "Name", optionsCaption: "--Chọn tỉnh/thành phố--", value: stateProvince'> </select>

        </div>
    </div>
    <div class="form-group" data-bind="with: stateProvince">
        <label class="col-sm-4 control-label required">Quận/Huyện</label>
        <div class="col-sm-8">
            <select class="form-control" data-bind='options: Districts, optionsText: "Name", optionsCaption: "--Chọn quận/huyện--", value: $parent.district'> </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label required">Địa chỉ</label>
        <div class="col-sm-8">
            <textarea data-bind="value: address1" maxlength="255" class="form-control" placeholder="Số nhà, tên đường, tên tòa nhà (nếu có), phường xã"></textarea>
            <p class="exp">Ví dụ: Số nhà 32, ngõ 167 Trương Định</p>
        </div>
    </div>
</script>
<script>
    IsAuthenticated = '@isAuthenticated';
</script>
@Html.Action("CartDetails", "ShoppingCart", new { area = "" })
@Scripts.Render("~/bundles/js/core")
@Scripts.Render("~/bundles/js/shared")
@Scripts.Render("~/bundles/content/default/checkout/js")
<script>
    $(document).ready(function () {
        {
            $("#next").bind("click", function () { window.location.href = "/"; });
            $("#checkout").attr("href", "#").html("Xác nhận thanh toán").bind("click", function () { $(".close").trigger("click"); });
        }

        $(".option-account input").bind("change", function () {

            $(".tab-content-account .tab-pane").removeClass("in active").addClass("hidden");
            $("." + this.id).addClass("in active").removeClass("hidden");

        });

        $(".container-fluid.wrapper").removeClass("hidden");
    });

</script>

@if (!Request.IsAuthenticated)
{
    <script src="~/Scripts/jquery.validate.js"> </script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"> </script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"> </script>
    <script>
        PagedOnBegin_Login = function () {

        };
        PagedOnComplete_Login = function (data, status, xhr) {
            if (data && data.Status == "success") {
                window.location.reload();
            }
        };
        $(document).ready(function () { PagedOnComplete_Login(); });
    </script>
}


