@using NB_Commerce.Model.Models
@model List<NB_Commerce.Model.Models.Category>
<ul class="row">
    @foreach (Category category in Model)
    {
        <li class="item col-xsm-12 col-xs-6 col-md-6"><!-- start: item-inner -->
            <div class="item-inner">
                <div class="box-images">
                    <a href="@Utils.GetUrlCategory(category.Id)" title="@category.Name">
                              <img alt="@category.Name" src="@Utils.GetImage(category.Avatar, 202, 202)" />
                    </a>
                    <div class="icon-view valign-wrapper">
                        <a class="valign center" href="@Utils.GetUrlCategory(category.Id)" title="@category.Name"><i class="fa fa-search-plus"></i></a>
                    </div>
                </div>
                <div class="service-info">
                    <h3><a href="@Utils.GetUrlCategory(category.Id)" title="@category.Name">@category.Name</a></h3>
                    <ul class="link-tag">
                        @if (category.MetaKeywords != null) {
                             foreach (var keys in category.MetaKeywords.Split(',').Take(3))
                             {
                                 <li><a href="/search?key=@keys">@keys</a></li>
                             }
                        }
                    </ul>
                    <p class="except-3">@Html.Raw(category.Description)</p>
                    <a class="view-more" href="@Utils.GetUrlCategory(category.Id)" title="@category.Name">@Resources.Resource.Read_More_Text</a></div>
            </div>
        </li>
        <!-- end: item-inner -->
    }
</ul>