@using NB_Commerce.Model.Models
@model MenuCategory

@if (Model.Id > 0)
{
    if (!string.IsNullOrEmpty(Model.StyleContent))
    {
        <style>
            @Model.StyleContent
        </style>
    }
    <nav class="wsmenu slideLeft clearfix">
        <ul id="menu-@ViewBag.Instance" style="@ViewBag.CustomStyles" class="@Model.ClassApplied data-block @Model.Identifier">
            @foreach (var mlcm in Model.MenuLinkCategoryMappings.Where(e => e.ParentId == null && e.IsActive).OrderBy(e => e.DisplayOrder))
            {
                <li @(mlcm.MenuLinkCategoryChildren.Count == 0 ? "" : "class=")>
                    @if (mlcm.Alias == "_Home_")
                    {
                        <a title="@mlcm.UrlRewrite.Title" href="/" target="@mlcm.Target">
                            @Html.Raw(mlcm.Icon)
                            <span class="hometext">&nbsp;&nbsp;Home</span>
                        </a>
                    }
                    else
                    {
                        var mlcmHref = "";
                        if (string.IsNullOrEmpty(mlcm.HashTag))
                        {
                            mlcmHref = mlcm.UrlRewrite.Slug == "/" ? (SessionManager.GetUniqueSeoCode + "/") : (SessionManager.GetUniqueSeoCode + "/" + mlcm.UrlRewrite.Slug);
                        }
                        else { mlcmHref = mlcm.HashTag; }
                        <a title="@mlcm.UrlRewrite.Title" href="@mlcmHref" target="@mlcm.Target">
                            @Html.Raw(mlcm.Icon) @(mlcm.Alias ?? mlcm.UrlRewrite.Title)
                            @if (mlcm.MenuLinkCategoryChildren.Count > 0)
                            {
                                <span class="arrow"></span>
                            }
                        </a>
                    }
                    @if (mlcm.MenuLinkCategoryChildren.Count > 0)
                    {
                        if (mlcm.StylesheetClasses == "layout-menu-mega")
                        {
                            @Html.Action("MegaMenu", "Widgets", new { menuCategoryId = mlcm.Id, area = "" })
                        }
                        else
                        {
                            <ul class="wsmenu-submenu">
                                @foreach (var mlcmChild in mlcm.MenuLinkCategoryChildren.Where(e => e.IsActive).OrderBy(e => e.DisplayOrder))
                                {
                                    <li @(mlcmChild.MenuLinkCategoryChildren.Count == 0 ? "" : "class=")>
                                        @{
                                    var mlcmChildHref = "";
                                    if (string.IsNullOrEmpty(mlcmChild.HashTag))
                                    {
                                        mlcmChildHref = mlcmChild.UrlRewrite.Slug == "/" ? (SessionManager.GetUniqueSeoCode + "/") : (SessionManager.GetUniqueSeoCode + "/" + mlcmChild.UrlRewrite.Slug);
                                    }
                                    else { mlcmChildHref = mlcmChild.HashTag; }
                                        }
                                        <a title="@mlcmChild.UrlRewrite.Title" href="@mlcmChildHref" target="@mlcmChild.Target"><i class="fa fa-angle-right"></i>@Html.Raw(mlcmChild.Icon) @(mlcmChild.Alias ?? mlcmChild.UrlRewrite.Title) </a>
                                    </li>
                                }
                            </ul>
                        }
                    }
                    @if (mlcm.StylesheetClasses == "layout-form")
                    {
                        <div class="megamenu halfdiv">
                            <h3 class="title">Thông tin liên hệ</h3>
                            <form name="contact_name" class="menu_form">
                                <input type="text" placeholder="Name">
                                <input type="text" placeholder="Email">
                                <textarea placeholder="Nội dung..."></textarea>
                                <input type="button" value="Reset">
                                <input type="submit" value="Send">
                            </form>
                            <div class="cl"></div>
                        </div>
                    }
                </li>
            }
            <li class="menu-search">
                @*@Html.Action("Menu", "Widgets", new { identifier = "main-menu-other", pathView="Menu/Sub", area = "" })*@
                @*FORM SEARCH MENU*@
                @Html.Action("Box", "Search", new { area = "" })
            </li>

        </ul>
    </nav>
}

