@{
    ViewBag.Title = "Tags: " + ViewBag.blogTagName;
    ViewBag.blogCategoryId = -1;
}
@using NB_Commerce.Controllers
@using NB_Commerce.Model.Models
@using PagedList.Mvc
@model PagedList.IPagedList<NB_Commerce.Model.Models.BlogPostTagMapping>
    @section styles {
        @Styles.Render("~/bundles/content/default/page/css")
    }
    <!-- start: layout-page-wrap-->
    <div class="layout-page-wrap ">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-push-3">
                    <!-- start: content-page-layout-->
                    <div class="content-page-layout">
                        <div class="box-breadcrumb">
                            <!--start: box-breadcrumb-->
                            @Html.Action("Breadcrumb", "Widgets", new { breadcrumbs = new List<BreadcrumbModel> { new BreadcrumbModel { Link = "#", Title = "Chủ đề" }, new BreadcrumbModel { Link = "#", Title = ViewBag.blogTagName } }, homeIncluded = true, headingIncluded = true, area = "" })
                            <!--end: box-breadcrumb-->
                        </div>
                        <div class="search-tags-wrapper">
                            <p>Có <span class="count">@Model.TotalItemCount</span> tin bài được gắn với chủ đề: <span class="tags">@ViewBag.blogTagName</span></p>
                        </div>
                        <!-- start: category-news-wrap main-list-items-->
                        <div class="category-news-wrap main-list-items">
                            <!-- start: block-content -->
                            <div class="box-content">
                                @foreach (BlogPostTagMapping item in Model.Where(e => e.BlogPost.Status == BlogPostStatus.Published && e.BlogPost.PublishedTime <= DateTime.Now))
                                {
                                    <!-- start: items-inner -->
                                    <div class="items-inner">
                                        <div class="box-images">
                                            <h3>
                                                <a href="@Utils.GetUrlBlogPost(item.BlogPostId)"><img src="@Utils.GetImage(item.BlogPost.Avatar, 160, 117)" alt="@item.BlogPost.Title"></a>
                                            </h3>
                                            <div class="more-status">
                                                <span><i class="fa fa-eye"></i>@item.BlogPost.Viewed</span>
                                                <span><i class="fa fa-comment-o"></i>@item.BlogPost.BlogComments.Count</span>
                                            </div>
                                        </div>
                                        <!-- start: box-info-->
                                        <div class="box-info">
                                            <div class="title-category">
                                                <h2><a href="#">Danh mục</a></h2>
                                                <time class="time">@item.BlogPost.PublishedTime</time>
                                            </div>
                                            <h3 class="title"><a href="#"><a href="@Utils.GetUrlBlogPost(item.BlogPostId)">@item.BlogPost.Title</a></a></h3>
                                            <p class="description except-3">@Html.Raw(item.BlogPost.Excerpt)</p>
                                        </div>
                                        <!-- end: box-info-->
                                    </div>
                                    <!-- start: items-inner -->
                                }
                            </div>
                            <!-- end: block-content -->
                            <section class="paging" style="float: right">
                                @Html.PagedListPager(Model, page => Url.Action("Page", "Home", new { sortorder = ViewBag.sortOrder, page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
                            </section>
                            <!-- end: class row -->
                            @*@Html.Action("Caller", "StaticBlock", new { identifier = "banner-center-page", area = "" })*@
                            <!-- end: banner-adv- -->
                        </div>
                        <!-- end: category-news-wrap main-list-items-->
                    </div>
                    <!-- end: content-page-layout-->
                </div>
                <div class="col-xs-12 col-sm-3 col-sm-pull-6">
                    <!-- start: left-page-layout-->
                    <div class="left-page-layout">
                        <!-- start: menu-sidebar-->
                        <div class="menu-sidebar">
                            <div class="head-box-title">
                                <h3>Tin tức và sự kiện</h3>
                            </div>
                            <!-- start: list-links -->
                            <div class="box-content list-links">
                                <ul>
                                    <li>
                                        <h3>
                                            <a href="#">Tin hoạt động SXKD</a>
                                        </h3>
                                    </li>
                                    <li>
                                        <h3>
                                            <a href="#">Hoạt động cộng đồng</a>
                                        </h3>
                                    </li>
                                    <li>
                                        <h3>
                                            <a href="#">Chương trình khuyến mại</a>
                                        </h3>
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <!-- end: menu-sidebar-->
                        <!-- hotline-banner-adv-sidebar -->
                        @Html.Action("Caller", "StaticBlock", new { identifier = "sidebar-hotline-adv", area = "" })
                    </div>
                    <!-- end: left-page-layout-->
                </div>

                <div class="col-xs-12 col-sm-3">
                    <!-- start: right-page-layout-->
                    <div class="right-page-layout">
                        <!--Banner Call Center-->
                        @Html.Action("Caller", "StaticBlock", new { identifier = "banner-right-page", area = "" })
                        <!-- start: inner-box-sidebar most view-->
                        <div class="inner-box-sidebar">
                            <div class="head-box-title">
                                <h3>Xem nhiều nhất</h3>
                            </div>
                            @Html.Action("MostviewedPosts", "Widgets", new { blogCategoryId = -1, take = 3, area = "" })

                        </div>
                        <!-- end: inner-box-sidebar most view-->
                        <!-- start: inner-box-sidebar most view-->
                        <div class="inner-box-sidebar">
                            <div class="head-box-title">
                                <h3>Chủ đề phổ biến</h3>
                            </div>
                            @Html.Action("PopularTags", "Widgets", new { blogCategoryId = -1, area = "" })
                        </div>
                        <!-- end: inner-box-sidebar most view-->
                        <!-- start: inner-box-sidebar.style-line lastest news-->
                        <div class="inner-box-sidebar style-line">
                            <div class="head-box-title">
                                <h3>Bài viêt mới nhất</h3>
                            </div>
                            @Html.Action("LatestPosts", "Widgets", new { blogCategoryId = -1, take = 3, area = "" })
                        </div>
                        <!-- end: inner-box-sidebar.style-line lastest news-->
                    </div>
                    <!-- end: right-page-layout-->
                </div>

            </div>
        </div>
        <!-- end: layout-page-wrap -->
    </div>
    <!-- start: layout-page-wrap-->
    @section scripts {
        @Scripts.Render("~/bundles/content/default/blog/blog-category/js")
        <script src="~/Scripts/jquery.timeago.js"> </script>
        <script>
            $(".time-ago").timeago();
            $($("a[href='@Utils.GetUrl(EntityName.Category, "blog")']")).addClass("active");
        </script>
    }
