@model NB_Commerce.Model.Models.Page
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.MetaTitle ?? Model.Name;
    ViewBag.MetaKeywords = Model.MetaKeywords;
    ViewBag.MetaDescription = Model.MetaDescription;
}
<!-- start: BANNER-TOP -->
@*<div class="banner-top-page">
        @Html.Action("Caller", "StaticBlock", new { identifier = "banner-top-page", area = "" })
    </div>
*@
<!-- start: layout-page-wrap -->
<div class="layout-page-wrap layout-page-details">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-sm-push-3">
                <!-- start: content-page-layout-->
                <div class="content-page-layout">
                    <!--start: box-breadcrumb-->
                    @Html.Action("Breadcrumb", "Widgets", new { breadcrumbs = new List<BreadcrumbModel> { new BreadcrumbModel { Link = "#", Title = Model.Name } }, homeIncluded = true, headingIncluded = true, area = "" })
                    <!--end: box-breadcrumb-->
                    <!--start: content-page-inner-->
                    <div class="content-page-inner">
                        <!--start: post-header-->
                        <div class="post-header">
                            <header class="post-title">
                                <h1 class="entry-title">@Model.Title</h1>
                                <div class="module-meta-info">
                                    <div class="post-author-name">By <a itemprop="author" href="http://demo.tagdiv.com/newspaper/author/admin/">Admin</a></div>
                                    <div class="post-date">
                                        Ngày đăng: <time datetime="@Model.CreatedTime">@Model.CreatedTime</time>
                                    </div>
                                    <div class="post-comments-views">
                                        <span><i class="fa fa-eye"></i>@Model.Viewed</span>
                                        <span><a href="#"><i class="fa fa-comment-o"></i>3</a></span>
                                    </div>
                                </div>
                            </header>
                            <div class="post-description">
                                <p>@Model.Description</p>
                            </div>
                            <ul class="post-link-relates">
                                <li class="item">
                                    <h3>
                                        <a title="" href="#co-cau-to-chuc">
                                            Cơ cấu tổ chức
                                        </a>
                                    </h3>
                                </li>
                                <li class="item">
                                    <h3>
                                        <a title="" href="">
                                            Tầm nhìn chiến lược
                                        </a>
                                    </h3>
                                </li>
                                <li class="item">
                                    <h3>
                                        <a title="" href="">
                                            Đơn vị trực thuộc
                                        </a>
                                    </h3>
                                </li>
                            </ul>
                        </div>
                        <!--end: post-header-->
                        <!--start: post-content-->
                        <div class="post-content">
                            <div>
<p style="box-sizing: border-box; margin: 0px 0px 3px 4.5pt; padding: 0px; font-size: 13px; direction: ltr; line-height: 1.6; color: rgb(102, 102, 102); font-family: DroidSansRegular, 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif; background-color: rgb(255, 255, 255);"><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;"><strong>* Giai đoạn trước Cách mạng tháng 8</strong><br />
<br />
Hệ thống bưu điện của tỉnh Bắc Kạn ra đời từ cuối thế kỷ XIX. Từ năm 1891-1895, Pháp cơ bản chiếm đóng toàn bộ địa bàn tỉnh Bắc Kạn, để phục vụ cho việc đàn áp, bóc lột và cai trị nhân dân ta, thực dân Pháp thiết lập hệ thống Nhà dây thép (nay gọi là Bưu điện) tại thị xã Bắc Kạn. Sự ra đời và hoạt động của Bưu điện Bắc Kạn nói riêng và Bưu điện cả nước nói chung thời Pháp thuộc hoàn toàn không nhằm mục đích phục vụ yêu cầu đời sống của nhân dân; cũng không phải là một ngành kinh doanh đơn thuần mà thực chất nó là của bọn thực dân, tư sản, địa chủ nhằm phục vụ cho bộ máy thống trị của chúng để đàn áp các phong trào đấu tranh cách mạng và phục vụ chính sách bóc lột của chúng.<br />
<br />
<strong>* Giai đoạn từ sau Cách mạng tháng 8 đến 1965</strong><br />
<br />
Cách mạng Tháng Tám năm 1945 thành công, đội ngũ CBCNV Bưu điện Bắc Kạn chủ yếu là những người của chế độ cũ để lại đã nhanh chóng ổn định tư tưởng, ổn định tổ chức, khắc phục mọi khó khăn thiếu thốn, bắt tay ngay vào việc khôi phục mạng lưới đường dây, đường thư, phục vụ chỉ đạo giữ gìn an ninh trật tự tỉnh Bắc Kạn, mở đầu truyền thống ngành Giao thông Bưu điện Việt Nam trong đó có Bưu điện Bắc Kạn.<br />
Trong chín năm (1945–1954) kháng chiến trường kỳ chống thực dân Pháp xâm lược, cán bộ, nhân viên - những chiến sỹ giao thông Bưu điện Bắc Kạn đã vượt lên mọi gian khổ, hy sinh hoàn thành xuất sắc nhiệm vụ. Bằng mọi hình thức, biện pháp sáng tạo, giao thông viên đã mưu trí dũng cảm vượt qua mọi sự truy lùng gắt gao, bắn giết dã man của kẻ thù để chuyển công văn, tài liệu, đưa đón cán bộ, bộ đội. Nhiều người đã hy sinh anh dũng hoặc hy sinh một phần xương máu để giữ vững mạch máu giao thông kháng chiến.<br />
Miền Bắc hoàn toàn giải phóng, Bưu điện Bắc Kạn phải thực hiện những nhiệm vụ mới trong điều kiện cực kỳ khó khăn. Cơ sở vật chất kỹ thuật của Ngành nghèo nàn, hư hỏng nhiều, dây máy phụ tùng đều thiếu thốn. Đội ngũ cán bộ, nhân viên kỹ thuật thiếu, hầu hết trưởng thành trong kháng chiến. Do chưa được đào tạo một cách hệ thống và cơ bản nên trình độ văn hoá, chuyên môn, kỹ thuật còn hạn chế càng thúc đẩy sự sáng tạo và quyết tâm vượt khó vươn lên của CBCNV Bưu điện Bắc Kạn trong suốt 20 năm (1955-1975) xây dựng chủ nghĩa xã hội và chống chiến tranh phá hoại, phong toả của đế quốc Mỹ. Hệ thống tổ chức và mạng lưới Bưu điện được mở rộng, phục vụ đắc lực cho sản xuất và chiến đấu. Bom đạn cũng không chặt đứt được mạch máu thông tin. Những chiến sỹ Bưu điện Bắc Kạn với tinh thần quả cảm, trách nhiệm cao đã đóng góp xứng đáng vào thắng lợi của cuộc kháng chiến “bảo vệ miền Bắc và đấu tranh giải phóng miền Nam” thống nhất tổ quốc.<br />
Qua hai cuộc kháng chiến chống thực dân Pháp và đế quốc Mỹ, cán bộ công nhân viên Bưu điện Bắc Kạn đã kiên cường bám trụ, giữ vững mạch máu thông tin, chiến đấu và phục vụ chiến đấu, nhiều đồng chí đã xung phong ra tiền tuyến chi viện cho chiến trường miền Nam và đã anh dũng hy sinh trong khi làm nhiệm vụ.<br />
<br />
<strong>* Giai đoạn từ 1965 đến 1997</strong><br />
<br />
Ngày 01 tháng 7 năm 1965, Bưu điện Bắc Kạn và Bưu điện Thái Nguyên sáp nhập thành Ty Bưu điện - Truyền thanh tỉnh Bắc Thái với nhiệm vụ chính là tiếp tục tổ chức bảo đảm thông tin liên lạc thật vững chắc đối với các khu vực trọng yếu; sắp xếp lực lượng, bố trí mạng lưới cả về thông tin bưu và điện vừa bảo đảm phục vụ chiến đấu vừa phục vụ sản xuất; hoàn thành tốt việc sản xuất kinh doanh của Ngành trong kế hoạch 5 năm lần thứ nhất.<br />
Khi đất nước thống nhất (1975) cả nước tập trung vào hàn gắn vết thương chiến tranh và xây dựng chủ nghĩa xã hội. Trong công cuộc đổi mới, Bưu điện Bắc Kạn đóng góp công sức thực hiện chiến lược tăng tốc của toàn ngành Bưu chính Viễn thông Việt Nam. Đây cũng là thời kỳ Bưu điện Bắc Kạn tập trung nguồn lực, trí tuệ tiến thẳng vào hiện đại hoá mạng lưới và nâng cao chất lượng dịch vụ, vừa đảm bảo nhiệm vụ hoạt động công ích vừa cạnh tranh thắng lợi trong quá trình hội nhập.<br />
<br />
<strong>* Giai đoạn từ 1997 đến 2007</strong><br />
<br />
Ngày 01 tháng 7 năm 1997, Bưu điện tỉnh Bắc Kạn được thành lập lại và đi vào hoạt động theo Quyết định số 130/QĐ-TCCB-HĐQT của Chủ tịch Hội đồng Quản trị Tổng Công ty Bưu chính-Viễn thông Việt Nam. Bộ máy cán bộ quản lý được tách và phân công, bổ nhiệm từ Bưu điện Bắc Thái (cũ). Đồng chí Chu Hồng Tuấn, Phó Giám đốc Bưu điện Bắc Thái được bổ nhiệm làm Giám đốc Bưu điện tỉnh Bắc Kạn; đồng chí Nguyễn Thành Lưu được bổ nhiệm làm Phó Giám đốc.<br />
<br />
<strong>* Giai đoạn từ 01.01.2008 đến nay</strong><br />
<br />
Thực hiện phương án chia tách Bưu chính và Viễn thông, ngày 01 tháng 01 năm 2008, Bưu điện tỉnh Bắc Kạn một lần nữa lại được thành lập lại. Bưu điện tỉnh Bắc Kạn (mới) đi vào hoạt động theo Quyết định số 528/QĐ-TCCB/HĐQT của Hội đồng Quản trị Tập đoàn Bưu chính-Viễn thông Việt Nam. Đồng chí Hứa Đình Thuyên, Phó Giám đốc Bưu điện Bắc Kạn (cũ) được bổ nhiệm làm Giám đốc Bưu điện tỉnh Bắc Kạn (mới); đồng chí Đỗ Quang Đạo, Trưởng phòng Tổ chức Lao động được bổ nhiệm làm Phó Giám đốc kiêm Chủ tịch Công đoàn Bưu điện tỉnh.<br />
Nhìn lại chặng đường lịch sử của Bưu điện tỉnh Bắc Kạn, khó khăn và thách thức đan xen với thời cơ phát triển, điều quan trọng là biết tìm ra giải pháp vượt khó khăn, xác định đúng chiến lược phát triển, Bưu điện tỉnh Bắc Kạn sẽ tiếp tục giành được nhiều thắng lợi trong thời kỳ công nghiệp hoá, hiện đại hoá đất nước.</span></span><br />
 </p>
</div>

<div style="text-align: center"><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;"><img alt="Bưu điện tỉnh Bắc Kan" src="http://media.acafe.vn/images/avatrails/about-us-1.jpg" /></span></span></div>

<div> </div>

<div>
<div>
<div>
<div style="margin-left:auto;">
<div>
<div>
<div>
<div>
<div>
<div><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;"><strong>* Giai đoạn từ 01.01.2008 đến nay</strong><br />
<br />
Thực hiện phương án chia tách Bưu chính và Viễn thông, ngày 01 tháng 01 năm 2008, Bưu điện tỉnh Bắc Kạn một lần nữa lại được thành lập lại. Bưu điện tỉnh Bắc Kạn (mới) đi vào hoạt động theo Quyết định số 528/QĐ-TCCB/HĐQT của Hội đồng Quản trị Tập đoàn Bưu chính-Viễn thông Việt Nam. Đồng chí Hứa Đình Thuyên, Phó Giám đốc Bưu điện Bắc Kạn (cũ) được bổ nhiệm làm Giám đốc Bưu điện tỉnh Bắc Kạn (mới); đồng chí Đỗ Quang Đạo, Trưởng phòng Tổ chức Lao động được bổ nhiệm làm Phó Giám đốc kiêm Chủ tịch Công đoàn Bưu điện tỉnh.<br />
Nhìn lại chặng đường lịch sử của Bưu điện tỉnh Bắc Kạn, khó khăn và thách thức đan xen với thời cơ phát triển, điều quan trọng là biết tìm ra giải pháp vượt khó khăn, xác định đúng chiến lược phát triển, Bưu điện tỉnh Bắc Kạn sẽ tiếp tục giành được nhiều thắng lợi trong thời kỳ công nghiệp hoá, hiện đại hoá đất nước.</span></span>

<h3 class="link-anchor"><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;"><a href="#" id="co-cau-to-chuc">Cơ cấu tổ chức</a></span></span></h3>
<span style="font-size:14px;"> <span style="font-family:arial,helvetica,sans-serif;">CÁC ĐỒNG CHÍ LÃNH ĐẠO BƯU ĐIỆN TỈNH BẮC KẠN<br />
TỪ NĂM 1997 ĐẾN NAY</span></span>

<table border="0" cellpadding="0" cellspacing="2" class="table">
	<tbody>
		<tr>
			<td><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Từ 1997 đến 2003:</span></span></td>
			<td><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Giám đốc: Ông Chu Hồng Tuấn<br />
			Phó Giám đốc: Ông Nguyễn Thành Lưu<br />
			Chủ tịch Công đoàn: Ông Nông Quốc Lần</span></span></td>
		</tr>
		<tr>
			<td><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Từ 2003 đến 2006:</span></span></td>
			<td><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Ông Nguyễn Hữu Nam làm Giám đốc<br />
			Ông Nguyễn Thành Lưu làm Phó Giám đốc<br />
			Ông Hứa Đình Thuyên làm Phó Giám đốc<br />
			Ông Nông Quốc Lần làm Chủ tịch Công đoàn.</span></span></td>
		</tr>
		<tr>
			<td><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Từ 2006 đến 2007:</span></span></td>
			<td><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Ông Nguyễn Thành Lưu làm Giám đốc<br />
			Ông Hứa Đình Thuyên làm Phó Giám đốc<br />
			Ông Phạm Mạnh Hùng làm Phó Giám đốc<br />
			Ông Nông Quốc Lần làm Chủ tịch Công đoàn.</span></span></td>
		</tr>
		<tr>
			<td><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Từ 2008 đến nay:</span></span></td>
			<td><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Ông Hứa Đình Thuyên làm Giám đốc<br />
			Ông Đỗ Quang Đạo làm Phó Giám đốc kiêm Chủ tịch Công đoàn.</span></span></td>
		</tr>
	</tbody>
</table>
</div>
</div>
</div>
</div>
</div>

<div>
<div>
<div><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;"><a href="#"><img alt="Alternate Text" src="file:///D:/DATA/Project/PostOficeBacKan/code/FrontEnd/bkpost/img/page/hotline-1.jpg" style="border:0px none;vertical-align:middle;" /></a></span></span></div>

<div><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;"><a href="#"><img alt="Alternate Text" src="file:///D:/DATA/Project/PostOficeBacKan/code/FrontEnd/bkpost/img/page/adv-news.jpg" style="border:0px none;vertical-align:middle;margin-bottom:5px;" /></a><a href="#"><img alt="Alternate Text" src="file:///D:/DATA/Project/PostOficeBacKan/code/FrontEnd/bkpost/img/page/adv-saving.jpg" style="border:0px none;vertical-align:middle;margin-bottom:5px;" /></a><a href="#"><img alt="Alternate Text" src="file:///D:/DATA/Project/PostOficeBacKan/code/FrontEnd/bkpost/img/page/adv-ems.jpg" style="border:0px none;vertical-align:middle;margin-bottom:5px;" /></a></span></span></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

                        </div>
                        <!--end: post-content-->
                    </div>
                    <!--end: content-page-inner-->
                </div>
                <!-- end: content-page-layout-->
            </div>
            <div class="col-xs-12 col-sm-3 col-sm-pull-9">
                <!-- start: left-page-layout-->
                <div class="left-page-layout">
                    <!-- start: menu-sidebar-->
                    <div class="menu-sidebar">
                        <div class="head-box-title">
                            <h3>Tin tức và sự kiện</h3>
                        </div>
                        <!-- start: list-links -->
                        <div class="box-content list-links">
                            <ul>
                                <li>
                                    <h3>
                                        <a href="#">Tin hoạt động SXKD</a>
                                    </h3>
                                </li>
                                <li>
                                    <h3>
                                        <a href="#">Hoạt động cộng đồng</a>
                                    </h3>
                                </li>
                                <li>
                                    <h3>
                                        <a href="#">Chương trình khuyến mại</a>
                                    </h3>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <!-- end: menu-sidebar-->
                    <!-- hotline-banner-adv-sidebar -->
                    @Html.Action("Caller", "StaticBlock", new { identifier = "sidebar-hotline-adv", area = "" })
                </div>
                <!-- end: left-page-layout-->
            </div>
        </div>
    </div>
</div>
<!-- end: layout-page-wrap -->
@section styles {
    @Styles.Render("~/bundles/content/default/page-detail/css")
    @Styles.Render("~/bundles/content/default/page/css")
}

@*<section class="wrapper">
        <!-- start: PAGE CONTENT RIGHT -->
        <div class="col-sm-4 page-content-right">
            @Html.Action("Caller", "StaticBlock", new { identifier = "banner-right-page", area = "" })
            <!-- start: side-box-wrapper box-service-us -->
            <div class="side-box-wrapper box-service-us">
                <div class="box-title">
                    <h3>Dịch vụ của chúng tôi</h3>
                </div>
                @Html.Action("Caller", "StaticBlock", new { identifier = "pageright-service-focus", area = "" })
            </div>
            <!-- end: side-box-wrapper box-service-us -->
            <!-- start: side-box-wrapper -->
            <div class="side-box-wrapper">
                <div class="box-title">
                    <h3>Bài viết mới nhất</h3>
                </div>
                @Html.Action("LatestPosts", "Widgets", new { blogCategoryId = -1, take = 3, area = "" })
            </div>
            <!-- end: side-box-wrapper -->
        </div>

    </section>*@

