@model NB_Commerce.Model.Models.Page
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.MetaTitle ?? Model.Name;
    ViewBag.MetaKeywords = Model.MetaKeywords;
    ViewBag.MetaDescription = Model.MetaDescription;
}
<!-- start: BANNER-TOP -->
@*<div class="banner-top-page">
        @Html.Action("Caller", "StaticBlock", new { identifier = "banner-top-page", area = "" })
    </div>
*@
<!-- start: layout-page-wrap -->
<div class="layout-page-wrap layout-page-details">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-sm-push-3">
                <!-- start: content-page-layout-->
                <div class="content-page-layout">
                    <!--start: box-breadcrumb-->
                    @Html.Action("Breadcrumb", "Widgets", new { breadcrumbs = new List<BreadcrumbModel> { new BreadcrumbModel { Link = "#", Title = Model.Name } }, homeIncluded = true, headingIncluded = true, area = "" })
                    <!--end: box-breadcrumb-->
                    <!--start: content-page-inner-->
                    <div class="content-page-inner">
                        <!--start: post-header-->
                        <div class="post-header">
                            <header class="post-title">
                                <h1 class="entry-title">@Model.Title</h1>
                                <div class="module-meta-info">
                                    <div class="post-author-name">By <a itemprop="author" href="http://demo.tagdiv.com/newspaper/author/admin/">Admin</a></div>
                                    <div class="post-date">
                                        Ngày đăng: <time datetime="@Model.CreatedTime">@Model.CreatedTime</time>
                                    </div>
                                    <div class="post-comments-views">
                                        <span><i class="fa fa-eye"></i>@Model.Viewed</span>
                                        <span><a href="#"><i class="fa fa-comment-o"></i>3</a></span>
                                    </div>
                                </div>
                            </header>
                            <div class="post-description">
                                <p>@Model.Description</p>
                            </div>
                            <ul class="post-link-relates">
                                <li class="item">
                                    <h3>
                                        <a title="" href="#co-cau-to-chuc">
                                            Cơ cấu tổ chức
                                        </a>
                                    </h3>
                                </li>
                                <li class="item">
                                    <h3>
                                        <a title="" href="">
                                            Tầm nhìn chiến lược
                                        </a>
                                    </h3>
                                </li>
                                <li class="item">
                                    <h3>
                                        <a title="" href="">
                                            Đơn vị trực thuộc
                                        </a>
                                    </h3>
                                </li>
                            </ul>
                        </div>
                        <!--end: post-header-->
                        <!--start: post-content-->
                        <div class="post-content">
                            <img src="http://www.404notfound.fr/assets/images/pages/img/maxdegterevdotname.jpg" style="width: 100%;" />
<div style="text-align: right;"><br />
<strong><a href="@Utils.GetUrl(EntityName.Page, "home")">Quay về trang chủ</a> | <a href="@Utils.GetUrl(EntityName.Page, "contact-us")">Liên hệ</a></strong></div>

                        </div>
                        <!--end: post-content-->
                    </div>
                    <!--end: content-page-inner-->
                </div>
                <!-- end: content-page-layout-->
            </div>
            <div class="col-xs-12 col-sm-3 col-sm-pull-9">
                <!-- start: left-page-layout-->
                <div class="left-page-layout">
                    <!-- start: menu-sidebar-->
                    <div class="menu-sidebar">
                        <div class="head-box-title">
                            <h3>Tin tức và sự kiện</h3>
                        </div>
                        <!-- start: list-links -->
                        <div class="box-content list-links">
                            <ul>
                                <li>
                                    <h3>
                                        <a href="#">Tin hoạt động SXKD</a>
                                    </h3>
                                </li>
                                <li>
                                    <h3>
                                        <a href="#">Hoạt động cộng đồng</a>
                                    </h3>
                                </li>
                                <li>
                                    <h3>
                                        <a href="#">Chương trình khuyến mại</a>
                                    </h3>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <!-- end: menu-sidebar-->
                    <!-- hotline-banner-adv-sidebar -->
                    @Html.Action("Caller", "StaticBlock", new { identifier = "sidebar-hotline-adv", area = "" })
                </div>
                <!-- end: left-page-layout-->
            </div>
        </div>
    </div>
</div>
<!-- end: layout-page-wrap -->
@section styles {
    @Styles.Render("~/bundles/content/default/page-detail/css")
    @Styles.Render("~/bundles/content/default/page/css")
}

@*<section class="wrapper">
        <!-- start: PAGE CONTENT RIGHT -->
        <div class="col-sm-4 page-content-right">
            @Html.Action("Caller", "StaticBlock", new { identifier = "banner-right-page", area = "" })
            <!-- start: side-box-wrapper box-service-us -->
            <div class="side-box-wrapper box-service-us">
                <div class="box-title">
                    <h3>Dịch vụ của chúng tôi</h3>
                </div>
                @Html.Action("Caller", "StaticBlock", new { identifier = "pageright-service-focus", area = "" })
            </div>
            <!-- end: side-box-wrapper box-service-us -->
            <!-- start: side-box-wrapper -->
            <div class="side-box-wrapper">
                <div class="box-title">
                    <h3>Bài viết mới nhất</h3>
                </div>
                @Html.Action("LatestPosts", "Widgets", new { blogCategoryId = -1, take = 3, area = "" })
            </div>
            <!-- end: side-box-wrapper -->
        </div>

    </section>*@

