@using NB_Commerce.Model.Models
@model List<NB_Commerce.Model.Models.BlogPostCategoryMapping>
@if (Model.Count > 0)
{
    <div class="owl-carousel" id="news">
            @{
                var items = Model.ToList();
            }
            @for (int i = 0; i <= items.Count - 1; i++)
            {
                 <!-- start: item inner  -->
                    <div class="item-inner">
                        <div class="box-images"><a href="@Utils.GetUrlBlogPost(items[i].BlogPostId)"><img alt="@items[i].BlogPost.Title" src="@Utils.GetImage(items[i].BlogPost.Avatar, 285,214)" /></a></div>

                        <div class="news-info">
                            <h3>@items[i].BlogPost.Title</h3>

                            <ul class="link-tag">
                                @foreach(var tag in items[i].BlogPost.BlogPostTagMappings.Where(e=>e.BlogTag.IsActive == true).OrderByDescending(e=>e.DisplayOrder).ToList()) {
                                    <li><a href="@Utils.GetUrlBlogTag(tag.Id)">@tag.BlogTag.Name</a></li>
                                }
                            </ul>

                            <p>@Html.Raw(items[i].BlogPost.Excerpt)</p>
                            <a class="view-more" href="@Utils.GetUrlBlogPost(items[i].BlogPostId)"><i class="fa fa-angle-right"></i>@Resources.Resource.Read_More_Text</a></div>
                    </div>
                    <!-- end: item inner  -->                   
            }
        </div>
        <!-- end: owl carousel  -->
}