@using NB_Commerce.Model.Models
@model List<NB_Commerce.Model.Models.BlogPostCategoryMapping>
<!-- start: list-item -->
<div class="list-items">
    @foreach (BlogPostCategoryMapping item in Model)
    {
        <!-- start: item -->
        <div class="item">
            <div class="box-images">
                <h3>
                    <a href ="@Utils.GetUrlBlogPost(item.BlogPostId)"><img src="@Utils.GetImage(item.BlogPost.Avatar, 80, 60)" alt="@item.BlogPost.Title" /></a>
                </h3>
            </div>
            <!-- start: box-info-->
            <div class="box-info">
                <div class="title-category">
                    <h3><a href="@Utils.GetUrlBlogCategory(item.BlogCategoryId)">@item.BlogCategory.Name</a></h3>
                </div><!--title-category-->
                <h2 class="title">
                    <a href="@Utils.GetUrlBlogPost(item.BlogPostId)" title="@item.BlogPost.Title">@item.BlogPost.Title</a>
                </h2>

            </div>
            <!-- end: box-info-->
        </div>
        <!-- end: item -->
    }
</div>
<!-- end: list-item -->
