@using NB_Commerce.Model.Models
@{ var listCulture = (List<LanguageInstance>) ViewBag.Culture; }
@{
    if (listCulture != null && listCulture.Count > 1)
    {
        <li class="dropdown">

            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-globe"></i>
                @{
                    LanguageInstance firstOrDefault = listCulture.FirstOrDefault(e => e.LanguageCulture == SessionManager.LanguageCulture);
                }
                @if (firstOrDefault != null)
                {
                    @firstOrDefault.Name
                }
                <b class="caret"></b></a>
            <ul class="dropdown-menu language">
                <li><i class="fa fa-globe"></i> Ngôn ngữ: </li>
                @foreach (LanguageInstance item in listCulture)
                {
                    <li>
                        <a class="@(SessionManager.LanguageCulture == item.LanguageCulture ? "active" : "")" href="../../culture/@item.Id" title="@item.Name">
                            <img src="@(@item.Avatar)" alt="@item.Name" /> @item.Name
                        </a>
                    </li>
                }
            </ul>
        </li>
    }
}