@using NB_Commerce.Model.Models
@using NB_Commerce.Repositories
@using PagedList.Mvc
@model PagedList.IPagedList<NB_Commerce.Model.Models.ProductReview>
<div class="comment-paging">
    @Html.PagedListPager(Model, page => Url.Action("ListProductReview", "Widgets", new { ViewBag.id, page }), 
                         PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions { 
                                                                                                              LinkToPreviousPageFormat = "<", LinkToNextPageFormat = ">", MaximumPageNumbersToDisplay = 2 }, new AjaxOptions {
                                                                                                                                                                                                                                 HttpMethod = "GET",
                                                                                                                                                                                                                                 UpdateTargetId = "list-product-review",
                                                                                                                                                                                                                                 LoadingElementId = "list-review-loader",
                                                                                                                                                                                                                                 OnComplete = "PagedOnComplete_List"
                                                                                                                                                                                                                             }))
</div>
<ul class="col-xs-12 product-review-list hidden">
    @if (Model.Count > 0)
    {
        foreach (ProductReview item in Model)
        {
            <li class="col-xs-12 item">
                <div class="col-xs-2 left">
                    <img src="@item.Customer.Avatar" />
                    <strong>@item.Customer.Address.LastName</strong>
                    @if (item.Customer.Address.StateProvince != null)
                    {
                        <p class="from">đến từ <b>@item.Customer.Address.StateProvince.Name</b></p>
                    }
                    <time class="time" datetime="@item.CreatedTime"></time>
                </div>
                <div class="col-xs-10 right">
                    <input value="@item.Rating" name="rating-list" type="number" min=0 max="@AppConfigs.MaxRate" step=0.5 data-size="xs" data-stars="@AppConfigs.MaxRate" />
                    <h3 class="title">"@item.Title"</h3>
                    <p class="content">@Html.Raw(item.ReviewText)</p>
                    @if (item.DisplayedOrders == true)
                    {
                        <p class="product-purchared">Số sản phẩm đã mua: <b> @item.Product.OrderItems.Count </b></p>
                    }
                    <p class="pull-right"><span>Nhận xét này có hữu ích với bạn? </span> <a class="review-helpful" data-helpful="@(item.Id + "-yes")">Có (<b>@item.HelpfulYesTotal</b>)</a> | <a class="review-helpful" data-helpful="@(item.Id + "-no")">Không (<b>@item.HelpfulNoTotal</b>)</a></p>
                </div>
            </li>
        }
    }
    else
    {
        <p> Chưa có nhận xét nào, bạn hãy là đầu tiên nhận xét về sản phẩm này? </p>
    }

</ul>