@using NB_Commerce
@using NB_Commerce.Model.Models
@model List<NB_Commerce.Model.Models.BlogPostCategoryMapping>
<!-- start: list-item -->
<div class="list-items">
    @foreach (BlogPostCategoryMapping item in Model)
    {
        <!-- start: item -->
        <div class="item">
            <div class="box-images">
                <h3>
                    <a class="except-2" href="@Utils.GetUrlBlogPost(item.BlogPostId)"><img src="@Utils.GetImage(item.BlogPost.Avatar, 80, 60)" alt="@item.BlogPost.Title" /></a>
                </h3>
            </div>
            <!-- start: box-info-->
            <div class="box-info">
                <h2 class="title">
                    <a href ="@Utils.GetUrlBlogPost(item.BlogPostId)">@item.BlogPost.Title</a>
                </h2>
                <time class="time">@item.BlogPost.PublishedTime</time>
                <div class="view-icon"><i class="fa fa-eye"></i>@item.BlogPost.Viewed</div>
            </div>
            <!-- end: box-info-->
        </div>
        <!-- end: item -->
    }
</div>
<!-- end: list-item -->
